<div class="fixed w-full pl-72 mt-4 py-2 surface on-surface-text flex flex-row justify-between">
    <!-- Filter Search -->
    <label class="my-auto mx-2 sr-only">
        Search
    </label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search" class="table-search icon m-2" #input />

    <!-- Paginator -->
    <mat-paginator [pageSizeOptions]="[10, 30, 50, 100]" [color]="" class=""
        aria-label="Select variable page"></mat-paginator>
</div>
<div class="surface table-container top-0 mt-20 ml-72">
    <table mat-table [dataSource]="vars" matSort class="surface min-h-[80%]">
        <tr mat-header-row *matHeaderRowDef="columnMat; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: columnMat"></tr>

        <!-- TODO: THIS THROWS AN ERROR ON EMPTY DATASET -->
        <!-- Row shown when there is no matching data. -->
        <!-- <tr mat-row *matNoDataRow>
         <td mat-cell colspan="4">
         No data matching the filter "{{ input.value }}"
         </td>
         </tr> -->

        <!-- Checkbox Column -->
        <ng-container matColumnDef="check">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? toggleAllRows() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row['@_ID']) : null"
                    [checked]="selection.isSelected(row['@_ID'])" [aria-label]="checkboxLabel(row['@_ID'])">
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- ID Column -->
        <ng-container matColumnDef="ID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="id">ID</th>
            <td mat-cell *matCellDef="let row">
                <div class="flex flex-row">
                    {{ row['@_ID'] }}
                    @if(( checkUnassigned$(row) | async)){
                    <div
                        class="flex flex-row mx-1 rounded bg-dark-surface dark:bg-light-surface text-dark-on-surface dark:text-light-on-surface">
                        <svg aria-describedby="unassigned" id="unassigned" xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                            class="m-0.5 w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
                        </svg>
                        <span class="text-xs m-0.5">Unassigned</span>
                    </div>
                    }
                </div>
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="name">Name</th>
            <td mat-cell *matCellDef="let row">{{ row['@_name'] }}</td>
        </ng-container>

        <!-- Label Column -->
        <ng-container matColumnDef="Label">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="label">Label</th>
            <td mat-cell *matCellDef="let row">{{ row['labl']['#text'] }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="Weight">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="weight">Weight</th>
            <td mat-cell *matCellDef="let row">
                {{ row['@_wgt-var'] ? row['@_wgt-var'] : '' }}
            </td>
        </ng-container>

        <!-- View Column -->
        <ng-container matColumnDef="View">
            <th mat-header-cell *matHeaderCellDef>View</th>
            <td mat-cell *matCellDef="let row">
                <button (click)="viewChart(row)">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                        <path
                            d="M18.375 2.25c-1.035 0-1.875.84-1.875 1.875v15.75c0 1.035.84 1.875 1.875 1.875h.75c1.035 0 1.875-.84 1.875-1.875V4.125c0-1.036-.84-1.875-1.875-1.875h-.75zM9.75 8.625c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-.75a1.875 1.875 0 01-1.875-1.875V8.625zM3 13.125c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v6.75c0 1.035-.84 1.875-1.875 1.875h-.75A1.875 1.875 0 013 19.875v-6.75z" />
                    </svg>
                </button>
            </td>
        </ng-container>

        <!-- Edit Column -->
        <ng-container matColumnDef="Edit">
            <th mat-header-cell *matHeaderCellDef class="">
                Edit
            </th>
            <td mat-cell *matCellDef="let row">
                <button (click)="editVar(row)" class="mx-auto">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                        <path
                            d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2z" />
                    </svg>
                </button>
            </td>
        </ng-container>
    </table>
    <!-- Footer section -->
    <div class="footer-section surface-variant on-surface-variant-text">
    @if(selection.selected.length){
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" transform="rotate(180)" class="mt-5">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h10a8 8 0 0 1 8 8v2M3 10l6 6m-6-6l6-6"/>
        </svg>
        <!-- Group Selection Dropdown -->
        <select name="groups" id="group-dropdown"
            class="footer-button rounded-md h-max px-1 py-1.5 mx-2 my-auto">
            <option value="">Add to Group</option>
            <option *ngFor="let item of groups$ | async | keyvalue" id="{{ item.key }}"
                (click)="addToGroup(item.value)">{{ getLabel(item.value) }}</option>
        </select>

        <!-- Assign Weight Dropdown -->
        <select name="weights" id="weights-dropdown"
            class="footer-button rounded-md h-max px-1 py-1.5 mx-2 my-4">
            <option value="">Bulk Assign Weighted Variable</option>
            <option *ngFor="let item of variableWeights$ | async | keyvalue" id="{{ item.key }}"
                (click)="bulkAddWeight(item.value)">{{ getLabel(item.value) }}</option>
        </select>

        <button class="footer-button rounded-md px-1 py-1 mx-2 my-4 my-auto" (click)="bulkEditVariables()">Bulk Edit Variables</button>

        @if(selection.selected.length && (selectedGroup$ | async)) {
            <!-- Remove From Variable Group Button -->
            <button class="footer-button rounded-md px-1 py-1 mx-2 my-4 my-auto" (click)="removeFromGroup()">
                Remove From Variable Group
            </button>
        }
    }
    </div>
</div>
<app-modal class="w-max">
</app-modal>
