<!-- <app-modal
  [selection]='selection.selected'
  class="w-max"> </app-modal> -->
<div class="h-16">Search, Nav</div>
<ngx-datatable
  #table
  class="material h-full"
  [rows]="vars$ | async"
  [columns]="columns"
  [limit]="6"
  [offset]="1"
  [scrollbarV]="true"
  [columnMode]="ColumnMode.force"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="50"
  [sortType]="SortType.multi"
>
  <ngx-datatable-column
    [sortable]="false"
    [canAutoResize]="false"
    [draggable]="false"
    [resizeable]="false"
    [headerCheckboxable]="true"
    [checkboxable]="true"
  >
  </ngx-datatable-column>

  <ngx-datatable-column name="ID" headerClass="datatable-header" prop="@_ID">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ row['@_ID'] }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
    name="Name"
    headerClass="datatable-header"
    [sortable]="true"
    prop="@_name"
  >
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ row['@_name'] }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Label" [sortable]="true" prop="labl.#text">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ row.labl ? row['labl']['#text'] : 'No Label' }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Weight" [sortable]="true">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ row['@_wgt-var'] ? row['@_wgt-var'] : 'No Weight' }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="View" [sortable]="false">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <button (click)="viewChart(row)">View Variable</button>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Edit" [sortable]="false">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <button (click)="editVar(row)">Edit Variable</button>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
<div class="h-16 surface on-surface-text">Selected Menu</div>
