<div id="loading-details" *ngIf="!ddi_loaded" class="row content-area">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<ng-container class="interface-container">
  <mat-toolbar class="interface-header">

    <span>{{title}}</span>
    <span class="fill-space"></span>
    <span style="float:right">
    <button mat-icon-button color="accent" (click)="onSave()" matTooltip="Save">
      <mat-icon aria-label="Save">save</mat-icon>
    </button>
      </span>
  </mat-toolbar>



<mat-sidenav-container >
  <mat-sidenav mode="side" opened class="side_nav" #scrollMe>
    <app-var-group [_variable_groups]="_variable_groups" (subSetRows)="broadcastSubSetRows($event)" (selectGroup)="broadcastSelect($event)" (draggedGroup)="broadcastDraggedGroup($event)" (disableSelectGroup)="broadcastDeselectGroup()"
     (parentScrollNav)="scrollNav()"
    ></app-var-group>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-var [_variable_groups]="_variable_groups" ></app-var>
    </mat-sidenav-content>
</mat-sidenav-container>


</ng-container>


