<div id="loading-details" *ngIf="!ddi_loaded" class="row content-area">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<ng-container class="interface-container">

  <mat-toolbar class="interface-header">
    <mat-toolbar-row>
      <h1 class="headertext title">{{title}}</h1>
      <span class="fill-space"></span>
      <span class="actionbuttons">
        <button mat-icon-button color="accent" (click)="onSave()" i18n-matTooltip matTooltip="Download">
          <mat-icon i18n-aria-label aria-label="Download">get_app</mat-icon>
        </button>
        <span i18n>Download</span>
      </span>
      <span class="actionbuttons">
        <button mat-icon-button color="accent" (click)="sendToDV()" i18n-matTooltip matTooltip="Save">
          <mat-icon i18n-aria-label aria-label="Save">save</mat-icon>
        </button>
        <span i18n>Save</span>
      </span>
    </mat-toolbar-row>
    <mat-toolbar-row class="headertext citation">
      <span>{{firstCitat}}<a href="{{doi}}">{{doi}}</a>{{secondCitat}}</span>
    </mat-toolbar-row>
    <mat-toolbar-row class="headertext">
      {{filename}}
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav mode="side" opened class="side_nav" #scrollMe>
      <app-var-group [_variable_groups]="_variable_groups" (subSetRows)="broadcastSubSetRows($event)" (selectGroup)="broadcastSelect($event)" (draggedGroup)="broadcastDraggedGroup($event)" (disableSelectGroup)="broadcastDeselectGroup()"
      (parentScrollNav)="scrollNav()"
      ></app-var-group>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-var [_variable_groups]="_variable_groups" ></app-var>
      </mat-sidenav-content>
  </mat-sidenav-container>

</ng-container>
