.interface-header {
  padding-top: 5px;
  border-bottom: solid 1px rgba(0,0,0,.12);
}

.mat-toolbar-row, .mat-toolbar-single-row {
  min-height: 50px;
  height: auto;
}

.headertext {
  height: auto;
  font-size: 0.7em;
  font-weight: 400;
  white-space: normal;
  padding-bottom: 15px;
  line-height: 1.1em;
}

.headertext.title {
  font-size: 1.1em;
  font-weight: 500;
}

.actionbuttons {
  float: right;
  font-size: 0.6em;
}

.closegroups {
  float: right;
}