<div id="loading-details" *ngIf="!ddiLoaded" class="row content-area">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<ng-container class="interface-container">

  <mat-toolbar class="interface-header">
    <mat-toolbar-row>
      <h1 class="headertext title">{{title}}</h1>
    </mat-toolbar-row>
    <mat-toolbar-row class="headertext">
      {{filename}}
    </mat-toolbar-row>
    <mat-toolbar-row class="headertext citation">
      <span>{{firstCitat}}<a href="{{doi}}">{{doi}}</a>{{secondCitat}}</span>
    </mat-toolbar-row>
    <mat-divider></mat-divider>
    <mat-toolbar-row>
      <span class="groupstoggle">
        <ng-container *ngIf="sidenav.opened; else showGroups">
          <button mat-icon-button color="accent" (click)="sidenav.toggle()">
            <mat-icon i18n-aria-label aria-label="Gide Groups">keyboard_arrow_left</mat-icon>
          </button>
          <span i18n>Hide Groups</span>
        </ng-container>
        <ng-template #showGroups>
          <button mat-icon-button color="accent" (click)="sidenav.toggle()">
            <mat-icon i18n-aria-label aria-label="Show Groups">keyboard_arrow_right</mat-icon>
          </button>
          <span i18n>Show Groups</span>
        </ng-template>
      </span>
      <span class="fill-space"></span>
      <span class="actionbuttons">
        <button mat-icon-button color="accent" (click)="onSave()" i18n-matTooltip matTooltip="Download">
          <mat-icon i18n-aria-label aria-label="Download">get_app</mat-icon>
        </button>
        <span i18n>Download</span>
      </span>
      <span class="actionbuttons">
        <button mat-icon-button color="accent" (click)="sendToDV()" i18n-matTooltip matTooltip="Save">
          <mat-icon i18n-aria-label aria-label="Save">save</mat-icon>
        </button>
        <span i18n>Save</span>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav mode="side" opened class="side_nav" #sidenav #scrollMe>
      <app-var-group [variableGroups]="variableGroups" (subSetRows)="broadcastSubSetRows($event)" (selectGroup)="broadcastSelect($event)" (draggedGroup)="broadcastDraggedGroup($event)" (disableSelectGroup)="broadcastDeselectGroup()"
      (parentScrollNav)="scrollNav()"
      ></app-var-group>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-var [variableGroups]="variableGroups"></app-var>
    </mat-sidenav-content>
  </mat-sidenav-container>

</ng-container>
