<h2>Import XML</h2>
<p>Included in import</p>
<div class="flex flex-col">
  <label for="doc-description">
    <input type="checkbox" name="doc-description" id="doc-description" />
    Document Description
  </label>
  <label for="study-description">
    <input type="checkbox" name="study-description" id="study-description" />
    Study Description
  </label>
  <label for="file-description">
    <input type="checkbox" name="file-description" id="file-description" />
    File Description
  </label>
  <label for="var-information">
    <input type="checkbox" name="var-information" id="var-information" />
    Variable Information
  </label>
  <label for="var-documentation">
    <input type="checkbox" name="var-documentation" id="var-documentation" />
    Variable Documentation
  </label>
  <label for="categories">
    <input type="checkbox" name="categories" id="categories" />
    Categories
  </label>
  <label for="question-texts">
    <input type="checkbox" name="question-texts" id="question-texts" />
    Question Texts
  </label>
  <label for="keys-and-relations">
    <input type="checkbox" name="keys-and-relations" id="keys-and-relations" />
    Keys and Relations
  </label>
  <label for="weights">
    <input type="checkbox" name="weights" id="weights" />
    Weights
  </label>
  <label for="var-groups">
    <input type="checkbox" name="var-groups" id="var-groups" />
    Variable Groups
  </label>
  <label for="other-study-material">
    <input
      type="checkbox"
      name="other-study-material"
      id="other-study-material"
    />
    Other Study Material
  </label>
  <label for="other-material">
    <input type="checkbox" name="other-material" id="other-material" />
    Other Material
  </label>
</div>
<div class="flex flex-row justify-between">
  @if (file) {
  <span>{{ file.name }}</span>
  } @else {
  <dct-file-upload-button
    (fileSelected)="onFileSelected($event)"
  ></dct-file-upload-button>
  }
  <div>
    <button [disabled]="file">Import Metadata</button>
    <button>Cancel</button>
  </div>
</div>
