@if (variablesTabOpen() && !crossTabulationTabOpen()) {
  <dct-sidebar class="sidebar md:grid md:border-r" />
  @if (importComponentState() === 'open') {
    <dct-import class="data md:grid" />
  } @else if (importComponentState() === 'close') {
    <dct-data class="data md:grid"
              [variables]="filteredByGroupID()"
              [selectedVariables]="selectedVariables()"
              [openVariable]="openVariable()"
              [groupChanged]="groupIDChanged()"
              [categoriesInvalid]="categoriesMissing()"
    />
  }
} @else {
  <dct-cross-tabulation />
}
