.apply-button {
  @apply mt-2.5
  mb-2.5
    pt-3
    pb-2.5
    px-3 
    rounded 
    border
    transition-colors
    duration-100
    border-primary-10
    bg-primary-30 
    text-light-on-primary
    dark:bg-primary-60
    dark:text-primary-10
    hover:bg-primary-60 
    hover:text-primary-10
    dark:hover:bg-primary-10 
    dark:hover:text-primary-60;
}

.weight-dropdown {
  @apply mx-2
  mt-2.5
  mb-2.5
  px-3
  rounded
  border
  border-light-surface
  bg-white
  dark:border-dark-surface
  text-gray-700
  dark:bg-dark-surface-variant
  dark:text-dark-on-surface-variant;
}
.group-dropdown {
  @apply w-72
  flex
  flex-col
  py-2.5 
  ml-2.5 
  my-2.5
  rounded
  border
  border-light-surface
  dark:border-dark-surface
  bg-white
  text-gray-700
  dark:bg-dark-surface-variant
  dark:text-dark-on-surface-variant;
}
