<div class="flex flex-row px-5 h-[70px]">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    transform="rotate(90)"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="my-6"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="m9 9 6-6m0 0 6 6m-6-6v12a6 6 0 0 1-12 0v-3"
    />
  </svg>

  <!-- <button name="add-to-group" id="add-to-group" class="group-dropdown">
    Add to Group
  </button> -->

  <dct-multiselect-dropdown
    class="group-dropdown"
    (emitSelectedGroups)="onGroupChange($event)"
  ></dct-multiselect-dropdown>

  <select
    (change)="onSelectedWeightChange($event.target)"
    name="assign-weight"
    id="assign-weight"
    class="weight-dropdown"
  >
    <option value="" disabled selected hidden>Assign Weight</option>
    <option value="">Remove Weight</option>
    @for (weightValue of (( weights$ | async ) | keyvalue); track $index) {
    <option [value]="weightValue.key">
      {{ weightValue.value }}
    </option>
    }
  </select>
  <button class="apply-button" (click)="onApplyChanges()">APPLY CHANGES</button>
</div>
