<div class="block md:flex md:flex-row">
  <label class="input input-bordered border-slate-300 flex items-center gap-2 mt-4">
    <input type="text" class="grow" placeholder="Search" />
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
    </svg>
  </label>
</div>
<div class="block md:flex md:flex-row">
  <div class="align-middle justify-end hidden md:flex flex-row">
    <label for="items-per-page" class="mx-5 my-auto">
      <span class="mx-1.5"> Items Per Page: </span>
      <select
        name="items-per-page"
        id="items-per-page"
        class="select select-bordered max-w-xs border-slate-300"
        (change)="onItemsPerPageChange($event)"
      >
        @for (option of pageLimitOptions; track $index) {
          <option [value]="option.value" [selected]="option.value == limit">
            {{ option.value }}
          </option>
        }
      </select>
    </label>
  </div>
  <div class="flex flex-row align-middle justify-between">
    @if (total) {
      @if (total > limit) {
        <span class="mr-4 my-auto"> 1 - {{ limit }} of {{ total }} variables</span>
        <div>
          <button (click)="pagePrevious()" class="btn border border-slate-300 bg-transparent my-3 mt-4 mr-1  table-nav-button">
            <span class="sr-only">Go To Previous Variable Page</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
              <path fill-rule="evenodd" d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" />
            </svg>
          </button>
          <button (click)="pageNext()" class="btn border border-slate-300 bg-transparent my-3 mt-4 table-nav-button">
            <span class="sr-only">Go To Next Variable Page</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
              <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
            </svg>
          </button>
        </div>
      } @else {
        <span class="mr-4 py-5 my-auto">{{ total }} variables</span>
      }
    }
  </div>
</div>
