@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
/* :root { */
/*   --mdc-checkbox-unselected-icon-color:orange; */
/*   --mdc-checkbox-selected-icon-color: orange; */
/*   --mdc-checkbox-selected-hover-icon-color: red; */
/*   --mdc-checkbox-unselected-hover-icon-color: red; */
/* } */
