@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
/* :root { */
/*   --mdc-checkbox-unselected-icon-color:orange; */
/*   --mdc-checkbox-selected-icon-color: orange; */
/*   --mdc-checkbox-selected-hover-icon-color: red; */
/*   --mdc-checkbox-unselected-hover-icon-color: red; */
/* } */

@layer base {
  :root {
    .mat-mdc-table {
      @apply bg-light-surface dark:bg-dark-surface text-light-on-surface dark:text-dark-on-surface;
    }
    .mat-mdc-cell {
      @apply bg-light-surface dark:bg-dark-surface text-light-on-surface dark:text-dark-on-surface;
    }
    .mat-mdc-header-cell {
      @apply bg-light-surface dark:bg-dark-surface text-light-on-surface dark:text-dark-on-surface;
    }
    --mdc-checkbox-unselected-icon-color:@apply bg-light-surface dark:bg-dark-surface text-light-on-surface dark:text-dark-on-surface;
    --mdc-checkbox-selected-icon-color: white;
    --mdc-checkbox-selected-hover-icon-color: red;
    --mdc-checkbox-unselected-hover-icon-color: red;
  }
}

@layer components {
  /* Primary */
  .primary {
    @apply bg-light-primary dark:bg-dark-primary;
  }
  .primary-text {
    @apply text-light-primary dark:text-dark-primary;
  }

  /* On Primary */
  .on-primary {
    @apply bg-light-on-primary dark:bg-dark-on-primary;
  }
  .on-primary-text {
    @apply text-light-on-primary dark:text-dark-on-primary;
  }

  /* Primary Container */
  .primary-container {
    @apply bg-light-primary-container dark:bg-primary-container-dark;
  }
  .primary-container-text {
    @apply text-light-primary-container dark:text-dark-primary-container;
  }

  /* On Primary Container */
  .on-primary-container {
    @apply bg-light-on-primary-container dark:bg-dark-on-primary-container;
  }
  .on-primary-container-text {
    @apply text-light-on-primary-container dark:text-dark-on-primary-container;
  }

  /* Secondary */
  .secondary {
    @apply bg-light-secondary dark:bg-dark-secondary;
  }
  .secondary-text {
    @apply text-light-secondary dark:text-dark-secondary;
  }

  /* On Secondary */
  .on-secondary {
    @apply bg-light-on-secondary dark:bg-dark-on-secondary;
  }
  .on-secondary-text {
    @apply text-light-on-secondary dark:text-dark-on-secondary;
  }

  /* Secondary Container */
  .secondary-container {
    @apply bg-light-secondary-container dark:bg-dark-secondary-container;
  }
  .secondary-container-text {
    @apply text-light-secondary-container dark:text-dark-secondary-container;
  }

  /* On Secondary Container */
  .on-secondary-container {
    @apply bg-light-on-secondary-container dark:bg-dark-on-secondary-container;
  }
  .on-secondary-container-text {
    @apply text-light-on-secondary-container dark:text-dark-on-secondary-container;
  }

  /* Tertiary */
  .tertiary {
    @apply bg-light-tertiary dark:bg-dark-tertiary;
  }
  .tertiary-text {
    @apply text-light-tertiary dark:text-dark-tertiary;
  }

  /* On Tertiary */
  .on-tertiary {
    @apply bg-on-tertiary-light dark:bg-dark-on-tertiary;
  }
  .on-tertiary-text {
    @apply text-on-tertiary-light dark:text-dark-on-tertiary;
  }

  /* Tertiary Container */
  .tertiary-container {
    @apply bg-light-tertiary-container dark:bg-dark-tertiary-container;
  }
  .tertiary-container-text {
    @apply text-light-tertiary-container dark:text-dark-tertiary-container;
  }

  /* On Tertiary Container */
  .on-tertiary-container {
    @apply bg-light-on-tertiary-container dark:bg-dark-on-tertiary-container;
  }
  .on-tertiary-container-text {
    @apply text-light-on-tertiary-container dark:text-dark-on-tertiary-container;
  }
  /* Error */
  .error {
    @apply bg-light-error dark:bg-dark-error;
  }
  .error-text {
    @apply text-light-error dark:text-dark-error;
  }

  /* Error Container */
  .error-container {
    @apply bg-light-error-container dark:bg-dark-error-container;
  }
  .error-container-text {
    @apply text-light-error-container dark:text-dark-error-container;
  }

  /* On Error */
  .on-error {
    @apply bg-light-on-error dark:bg-dark-on-error;
  }
  .on-error-text {
    @apply text-light-on-error dark:text-dark-on-error;
  }

  /* On Error Container */
  .on-error-container {
    @apply bg-light-on-error-container dark:bg-dark-on-error-container;
  }
  .on-error-container-text {
    @apply text-light-on-error-container dark:text-dark-on-error-container;
  }

  /* Background */
  .background {
    @apply bg-light-background dark:bg-dark-background;
  }
  .background-text {
    @apply text-light-background dark:text-dark-background;
  }

  /* On Background */
  .on-background {
    @apply bg-light-on-background dark:bg-dark-on-background;
  }
  .on-background-text {
    @apply text-light-on-background dark:text-dark-on-background;
  }

  /* Surface */
  .surface {
    @apply bg-light-surface dark:bg-dark-surface;
  }
  .surface-text {
    @apply text-light-surface dark:text-dark-surface;
  }

  /* On Surface */
  .on-surface {
    @apply bg-light-on-surface dark:bg-dark-on-surface;
  }
  .on-surface-text {
    @apply text-light-on-surface dark:text-dark-on-surface;
  }

  /* Surface Variant */
  .surface-variant {
    @apply bg-light-surface-variant dark:bg-dark-surface-variant;
  }
  .surface-variant-text {
    @apply text-light-surface-variant dark:text-dark-surface-variant;
  }

  /* On Surface Variant */
  .on-surface-variant {
    @apply bg-light-on-surface-variant dark:bg-dark-on-surface-variant;
  }
  .on-surface-variant-text {
    @apply text-light-on-surface-variant dark:text-dark-on-surface-variant;
  }

  /* on-Outline */
  .outline {
    @apply bg-light-outline dark:bg-dark-outline;
  }
  .outline-text {
    @apply text-light-outline dark:text-dark-outline;
  }

  /* Inverse on Surface */
  .inverse-on-surface {
    @apply bg-light-inverse-on-surface dark:bg-dark-inverse-on-surface;
  }
  .inverse-on-surface-text {
    @apply text-light-inverse-on-surface dark:text-dark-inverse-on-surface;
  }

  /* Inverse Surface */
  .inverse-surface {
    @apply bg-light-inverse-surface dark:bg-dark-inverse-surface;
  }
  .inverse-surface-text {
    @apply text-light-inverse-surface dark:text-dark-inverse-surface;
  }

  /* Inverse Primary */
  .inverse-primary {
    @apply bg-light-inverse-primary dark:bg-dark-inverse-primary;
  }
  .inverse-primary-text {
    @apply text-light-inverse-primary dark:text-dark-inverse-primary;
  }
  /* Shadow */
  .shadow {
    @apply bg-shadow-light dark:bg-shadow-dark;
  }
  .shadow-text {
    @apply text-shadow-light dark:text-shadow-dark;
  }

  /* Surface Tint */
  .surface-tint {
    @apply bg-surface-tint-light dark:bg-surface-tint-dark;
  }
  .surface-tint-text {
    @apply text-surface-tint-light dark:text-surface-tint-dark;
  }

  /* Outline Variant */
  .outline-variant {
    @apply bg-outline-variant-light dark:bg-outline-variant-dark;
  }
  .outline-variant-text {
    @apply text-outline-variant-light dark:text-outline-variant-dark;
  }

  /* Scrim */
  .scrim {
    @apply bg-scrim-light dark:bg-scrim-dark;
  }
  .scrim-text {
    @apply text-scrim-light dark:text-scrim-dark;
  }
}
