<button (click)="openModal()" class="btn border border-slate-300 bg-transparent">
  Bulk Edit
</button>
<dialog #bulkEdit class="modal modal-bottom sm:modal-middle font-normal">
  <div class="modal-box">
    <div class="modal-header">
      <div class="flex flex-row-reverse justify-between items-center">
        <button (click)="closeModal()">
          <svg
            class="w-10 h-10"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6 18 18 6M6 6l12 12"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <span class="sr-only">close</span>
        </button>
        <h2 class="text-2xl">Bulk Edit Variables</h2>
      </div>
      <hr class="divider" />
    </div>
    <div class="modal-body h-full">
      <form [formGroup]="variableForm" class="flex flex-col">
        <label class="form-label" for="label">
          Label
          <input
            class="form-input form-outline"
            formControlName="label"
            id="label"
            name="label"
            type="text"
          />
        </label>
        <label class="form-label" for="literalQuestion">
          Literal Question
          <input
            class="form-input form-outline"
            formControlName="literalQuestion"
            id="literalQuestion"
            name="literalQuestion"
            type="text"
          />
        </label>
        <label class="form-label" for="interviewQuestion">
          Interviewer Question
          <input
            class="form-input form-outline"
            formControlName="interviewQuestion"
            id="interviewQuestion"
            name="interviewQuestion"
            type="text"
          />
        </label>
        <label class="form-label" for="postQTxt">
          Post Question

          <input
            class="form-input form-outline"
            formControlName="postQuestion"
            id="postQTxt"
            name="postQTxt"
            type="text"
          />
        </label>
        <label class="form-label" for="universe">
          Universe
          <input
            class="form-input form-outline"
            formControlName="universe"
            id="universe"
            name="universe"
            type="text"
          />
        </label>
        <label class="form-label" for="notes">
          Notes
          <textarea
            class="form-input form-outline"
            cols="50"
            formControlName="notes"
            id="notes"
            name="notes"
            rows="4"
            type="text"
          ></textarea>
        </label>
        <button
          (click)="handleSave()"
          class="btn btn-primary justify-start mt-2.5"
        >
          <svg
            class="w-6 h-6"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <span class="">UPDATE {{ selectedVariables().length }} VARIABLES</span>
        </button>
      </form>
    </div>
    <div class="flex flex-col w-full my-3">
      <button
        (click)="handleCancel()"
        class="btn btn-outline justify-start"
      >
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          stroke-width="1.5"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
        <span class="">CLOSE</span>
      </button>
    </div>
  </div>
</dialog>
<div [ngClass]="{'hide-toast': !saved, 'show-toast': saved}" class="toast toast-top toast-end">
  <div class="alert rounded alert-success" role="alert" aria-atomic="true" aria-live="polite">
    <span class="text-base-100">Changes applied!</span>
    <button (click)="closeLoadedToast()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
      </svg> 
    </button>           
  </div>
</div>