.table-nav {
  grid-area: 1 / 1 / 2 / 10;
}
.table-container {
  grid-area: 2 / 1 / 10 / 10;
  overflow-y: auto;
}
.table-container-selected {
  grid-area: 2 / 1 / 9 / 10;
  overflow-y: scroll;
}
.table-menu {
  @apply border-t
  border-light-surface 
  transition-transform 
  duration-100;
}
.modal-grid {
  height: 100vh;
  width: 75%;
}
.table-menu-grid {
  grid-area: 9 / 1 / 10 / 10;
}
.ngx-datatable {
  min-height: 80vh;
}
.pages {
  padding-left: 5px;
}

@media screen and (max-width: 800px) {
  .desktop-hidden {
    display: initial;
  }
  .mobile-hidden {
    display: none;
  }
  .table-nav {
    grid-area: inherit;
  }
  .table-container {
    grid-area: inherit;
    overflow-y: auto;
  }
  .table-container-selected {
    grid-area: inherit;
    overflow-y: scroll;
  }
  .table-menu-grid {
    grid-area: inherit;
  }
}
@media screen and (min-width: 800px) {
  .desktop-hidden {
    display: none;
  }
  .mobile-hidden {
    display: initial;
  }
}