<dct-table-nav
  (emitItemsPerPageChange)="setItemsPerPage($event)"
  (emitSearchResultList)="setSearchResultList($event)"
  (pageNextClick)="next()"
  (pagePreviousClick)="prev()"
  [currentPage]="currentPage()"
  [groupChanged]="groupChanged()"
  [isFirstPage]="isFirstPage()"
  [isLastPage]="isLastPage()"
  [itemsPerPage]="itemsPerPage()"
  [total]="variablesLength()"
  [variablesList]="variables()"
  class="flex flex-row w-full justify-between px-5"
/>

<p-table [first]="currentPage()"
         [paginator]="true"
         [rows]="itemsPerPage()"
         [scrollable]="true"
         [value]="variablesResult()"
         class="w-full m-5 min-h-12 overflow-y-auto"
         paginatorStyleClass="hidden"
         scrollHeight="flex">
  <ng-template pTemplate="header">
    <tr class="bg-base-100 border-b-2 z-20">
      <th>
        <label>
          <span class="sr-only">Select All Variable</span>
          <input class="h-3.5 w-3.5" id="ALL" type="checkbox">
        </label>
      </th>
      <th pSortableColumn="variableID">ID</th>
      <th pSortableColumn="name">Name</th>
      <th pSortableColumn="label">Label</th>
      <th pSortableColumn="weight">Weight</th>
      <th>
        <span class="invisible">Options</span>
        <dct-bulk-edit-modal ngClass="{{ selectedVariables().length > 1 ? 'visible' : 'invisible'  }}" />
      </th>
    </tr>
  </ng-template>
  <ng-template let-variable pTemplate="body">
    <tr class="group h-14 border-y hover:bg-base-200 hover:border-y border-base-300 cursor-pointer">
      <td>
        <label>
          <span class="sr-only">{{ variable.name }}</span>
          <input (change)="setSelected(variable.variableID)" [checked]="variable.selected" [id]="variable.variableID"
                 class="h-3.5 w-3.5" type="checkbox">
        </label>
      </td>
      <td>{{ variable.variableID }}</td>
      <td>{{ variable.name }}</td>
      <td>{{ variable.label }}</td>
      <td>{{ variable.weight }}</td>
      <td class="invisible group-hover:visible flex flex-row">
        <div class="mt-0.5">
          <dct-variable-options-button (emitLaunchModal)="launchModal($event)" [variableID]="variable.variableID"
                                       [variableInCrossTab]="variableInCrossTab()" class="flex flex-row" />
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
<dct-modal
  [nextVar]="openVariableData().next"
  [previousVar]="openVariableData().previous"
/>
