<h2 id="tableHeading" tabindex="-1" class="sr-only">
  @if (groupLbl() === 'ALL') {
    {{ 'COMMON.ALL_VARIABLES' | translate }}
  } @else {
    {{ groupLbl() }}
  }
</h2>
<dct-table-nav
  (emitItemsPerPageChange)="setItemsPerPage($event)"
  (emitSearchResultList)="setSearchResultList($event)"
  (pageNextClick)="next()"
  (pagePreviousClick)="prev()"
  [currentPage]="currentPage"
  [groupChanged]="groupChanged()"
  [isFirstPage]="isFirstPage()"
  [isLastPage]="isLastPage()"
  [itemsPerPage]="itemsPerPage()"
  [total]="variablesLength()"
  [variablesList]="variables()"
  class="md:hidden flex md:flex-row w-full md:justify-between md:px-5"
/>

<p-table
  [first]="currentPage"
  [paginator]="false"
  [scrollable]="true"
  [value]="searchResultVariables()"
  class="md:hidden w-full overflow-y-auto"
  paginatorStyleClass="hidden"
  responsiveLayout="stack"
  scrollHeight="flex"
  styleClass="p-datatable-striped"
>
  <ng-template let-columns pTemplate="header">
    <tr class="bg-base-100 border-b-2 z-20 border-slate-300">
      <th pSortableColumn="variableID">{{ 'COMMON.ID' | translate }}</th>
      <th pSortableColumn="name">{{ 'COMMON.NAME' | translate }}</th>
      <th pSortableColumn="label">{{ 'COMMON.LABEL' | translate }}</th>
      <th pSortableColumn="weight">{{ 'COMMON.WEIGHT' | translate }}</th>
      <th>{{ 'COMMON.OPTIONS' | translate }}</th>
    </tr>
  </ng-template>
  <ng-template let-columns="columns" let-variable pTemplate="body">
    <tr
      class="group h-14 py-2 border-y hover:bg-base-200 hover:border-y border-slate-300"
    >
      <td class="px-5 pt-5 pb-2">
        <div class="p-column-title font-bold w-1/4">
          {{ 'COMMON.ID' | translate }}
        </div>
        <div class="w-3/4">{{ variable.variableID }}</div>
      </td>
      <td class="px-5 py-2">
        <div class="p-column-title font-bold w-1/4">
          {{ 'COMMON.NAME' | translate }}
        </div>
        <div class="w-3/4">{{ variable.name }}</div>
      </td>
      <td class="px-5 py-2">
        <div class="p-column-title font-bold w-1/4">
          {{ 'COMMON.LABEL' | translate }}
        </div>
        <div class="w-3/4">{{ variable.label }}</div>
      </td>
      <td class="px-5 py-2">
        <div class="p-column-title font-bold w-1/4">
          {{ 'COMMON.WEIGHT' | translate }}
        </div>
        @if (variable.weight.length) {
          <div class="w-3/4">{{ variable.weight }}</div>
        } @else if (variable.isWeight) {
          <div class="w-3/4">
            <span
              class="rounded px-2 bg-success text-base-100 whitespace-nowrap"
              >{{ 'COMMON.WEIGHT' | translate }}</span
            >
          </div>
        } @else {
          <div class="w-3/4">
            <span
              class="rounded px-2 bg-base-content text-base-100 whitespace-nowrap"
              >{{ 'COMMON.NO_WEIGHT' | translate }}</span
            >
          </div>
        }
      </td>
      <td class="flex flex-row-reverse">
        <div class="mt-0.5">
          <dct-variable-options-button
            (emitLaunchModal)="launchModal($event)"
            [crossTabValuesFetched]="crossTabValuesFetched()"
            [hasApiKey]="hasApiKey()"
            [isFetching]="isFetching()"
            [variableID]="variable.variableID"
            [variablesInCrossTab]="variablesInCrossTab()"
            class="flex flex-row"
          />
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>

<dct-table-nav
  (emitItemsPerPageChange)="setItemsPerPage($event)"
  (emitSearchResultList)="setSearchResultList($event)"
  (pageNextClick)="next()"
  (pagePreviousClick)="prev()"
  [currentPage]="currentPage"
  [groupChanged]="groupChanged()"
  [isFirstPage]="isFirstPage()"
  [isLastPage]="isLastPage()"
  [itemsPerPage]="itemsPerPage()"
  [total]="variablesLength()"
  [variablesList]="variables()"
  class="hidden md:flex flex-row w-full justify-between px-5"
/>
<p-table
  [first]="currentPage"
  [paginator]="true"
  [rows]="itemsPerPage() + 1"
  [scrollable]="true"
  [value]="searchResultVariables()"
  class="hidden md:block w-full pl-5 mb-16 overflow-y-auto"
  paginatorStyleClass="hidden"
  scrollHeight="flex"
>
  <ng-template pTemplate="header">
    <tr class="bg-base-100 border-b-2 border-gray-200 z-20">
      <th>
        <label>
          <span class="sr-only">{{ 'COMMON.SELECT_SR' | translate }}</span>
          <input
            (change)="toggleAll()"
            [checked]="allVariablesSelected()"
            class="h-3.5 w-3.5"
            id="ALL"
            type="checkbox"
          />
        </label>
      </th>
      <th pSortableColumn="variableID">{{ 'COMMON.ID' | translate }}</th>
      <th pSortableColumn="name">{{ 'COMMON.NAME' | translate }}</th>
      <th pSortableColumn="label">{{ 'COMMON.LABEL' | translate }}</th>
      <th pSortableColumn="weight">{{ 'COMMON.WEIGHT' | translate }}</th>
      <th>{{ 'COMMON.OPTIONS' | translate }}</th>
    </tr>
  </ng-template>
  <ng-template let-variable pTemplate="body">
    <tr
      class="group h-14 border-y hover:bg-base-200 focus-within:bg-base-200 hover:border-y border-gray-200"
    >
      <td>
        <label>
          <span class="sr-only">{{ variable.name }}</span>
          <input
            (change)="setSelected(variable.variableID)"
            [checked]="variable.selected"
            [id]="variable.variableID"
            class="h-3.5 w-3.5"
            type="checkbox"
          />
        </label>
      </td>
      <td>{{ variable.variableID }}</td>
      <td>{{ variable.name }}</td>
      <td>{{ variable.label }}</td>
      <td>
        @if (variable.weight.length) {
          <span>{{ variable.weight }}</span>
        } @else if (variable.isWeight) {
          <span
            class="rounded px-2 bg-success text-base-100 whitespace-nowrap"
            >{{ 'COMMON.WEIGHT' | translate }}</span
          >
        } @else {
          <span
            class="rounded px-2 bg-base-content text-base-100 whitespace-nowrap"
            >{{ 'COMMON.NO_WEIGHT' | translate }}</span
          >
        }
      </td>
      <td class="flex flex-row float-right">
        <div class="mt-0.5">
          <dct-variable-options-button
            (emitLaunchModal)="launchModal($event)"
            [crossTabValuesFetched]="crossTabValuesFetched()"
            [hasApiKey]="hasApiKey()"
            [isFetching]="isFetching()"
            [variableID]="variable.variableID"
            [variablesInCrossTab]="variablesInCrossTab()"
            class="flex flex-row"
          />
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
@if (hasApiKey()) {
  <dct-table-menu
    [allVariables]="allVariables()"
    [variablesWithCrossTabMetadata]="variablesWithCrossTabMetadata()"
    [allGroups]="groups()"
    [groupID]="groupChanged()"
    [selectedVariables]="selectedVariables()"
    [weights]="weights()"
    class="hidden md:flex table-menu z-20 border-t bg-base-100 max-h-16 absolute bottom-0 w-full"
  />
}
<dct-modal
  [nextVar]="openVariableData().next"
  [previousVar]="openVariableData().previous"
/>
