<form [formGroup]="variableForm" class="flex flex-col">
    <label class="form-label">
        Label
        <input type="text" formControlName="label" id="labl" name="label" class="form-input" />
    </label>
    <label class="form-label">
        Literal Question
        <input type="text" formControlName="literalQuestion" id="qstLit" name="qstLit" class="form-input" />
    </label>
    <label class="form-label">
        Interviewer Instructions
        <input type="text" formControlName="interviewerQuestion" id="ivuInstr" name="ivuInstr" class="form-input" />
    </label>
    <label class="form-label">
        Post Question
        <input type="text" formControlName="postQuestion" id="postQTxt" name="postQTxt" class="form-input" />
    </label>
    <label class="form-label">
        Universe
        <input type="text" formControlName="universe" id="universe" name="universe" class="form-input" />
    </label>
    <label class="form-label">
        Notes
        <textarea formControlName="notes" id="notes" name="notes" rows="4" cols="50" class="form-input">
        </textarea>
    </label>
    <label class="form-label">
        Group(s)
        <app-multiselect-dropdown
            [groups]="groups$ | ngrxPush"
            (groupChange)="onGroupChange($event)"
            class="p-2 w-full">
        </app-multiselect-dropdown>
    </label>
    Weight Variable
    <div class="flex flex-row justify-between h-16 p-2">
        <label class="form-label sr-only" for="weightVar">
            Weight Variable
        </label>
        <select class="h-12 p-2 rounded" [(ngModel)]="weight" [ngModelOptions]="{standalone: true}">
            <option value="" (click)="changeWeight('')">No Weight Assigned</option>
            <option *ngFor="let variable of getWeights()" [value]="variable" (click)="changeWeight(variable)">
                {{ getWeightsLabels( variable ) }}
            </option>
        </select>
        <label class="flex flex-row my-auto mx-auto">
            <input class="my-auto mx-2" formControlName="isWeight" type="checkbox" name="isWeight" value="isWeight" />
            Is Weight
        </label>
    </div>
    <button class="primary on-primary-text p-0.5 rounded mt-4" type="submit" (click)="handleSave()">
        <div class="flex flex-row p-2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="mx-2 w-5 h-5">
            <path fill-rule="evenodd"
                d="M5.625 1.5H9a3.75 3.75 0 013.75 3.75v1.875c0 1.036.84 1.875 1.875 1.875H16.5a3.75 3.75 0 013.75 3.75v7.875c0 1.035-.84 1.875-1.875 1.875H5.625a1.875 1.875 0 01-1.875-1.875V3.375c0-1.036.84-1.875 1.875-1.875zM12.75 12a.75.75 0 00-1.5 0v2.25H9a.75.75 0 000 1.5h2.25V18a.75.75 0 001.5 0v-2.25H15a.75.75 0 000-1.5h-2.25V12z"
                clip-rule="evenodd" />
            <path
                d="M14.25 5.25a5.23 5.23 0 00-1.279-3.434 9.768 9.768 0 016.963 6.963A5.23 5.23 0 0016.5 7.5h-1.875a.375.375 0 01-.375-.375V5.25z" />
        </svg>
        Update Variable
        </div>
    </button>
    <button class="background on-background-text p-0.5 rounded my-1" (click)="handleCancel()">
        <div class="flex flex-row p-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="mx-2 w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        Cancel
        </div>
    </button>
</form>
