<form class="flex flex-col">
    <div class="flex flex-row">
        <label class="form-label">
            ID
            <input type="text" id="@_ID" name="ID" />
        </label>
        <label class="form-label">
            Name
            <input type="text" id="@_ID" name="ID" />
        </label>
    </div>
    <label class="form-label">
        Label
        <input type="text" id="@_ID" name="ID" />
    </label>
    <label class="form-label">
        Literal Question
        <input type="text" id="@_ID" name="ID" />
    </label>
    <label class="form-label">
        Interviewer Question
        <input type="text" id="@_ID" name="ID" />
    </label>
    <label class="form-label">
        Interviewer Instructions
        <input type="text" id="@_ID" name="ID" />
    </label>
    <label class="form-label">
        Post Question
        <input type="text" id="@_ID" name="ID" />
    </label>
    <label class="form-label">
        Universe
        <input type="text" id="@_ID" name="ID" />
    </label>
    <label class="form-label">
        Notes
        <input type="text" id="@_ID" name="ID" />
    </label>
    <label class="form-label">
        Group
        <input type="text" id="@_ID" name="ID" />
    </label>
</form>
