:host {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  height: 100vh;
}

.dde-header { grid-area: 1 / 1 / 3 / 13;}
.dde-main-content { grid-area: 3 / 1 / 13 / 13;}
