// Path: src/app/components/body/variables/data/data.component.css
.navigation {
  grid-area: 1 / 1 / 2 / 10;
}

.table {
  grid-area: 1 / 1 / 12 / 10;
}

.table-menu {
  grid-area: 11 / 1 / 12 / 10;
}

