<dct-table
  [allVariables]="variables()"
  [categoriesInvalid]="categoriesInvalid()"
  [crossTabValuesFetched]="crossTabValuesFetched()"
  [groupChanged]="groupChanged()"
  [groups]="groups()"
  [isFetching]="isFetching()"
  [openVariable]="openVariable()"
  [selectedVariables]="selectedVariables()"
  [variablesInCrossTab]="variablesInCrossTabSelection()"
  [variablesWithCrossTabMetadata]="variablesWithCrossTabMetadata()"
  [variables]="variablesSimplified()"
  [weights]="weights()"
  class="md:flex flex-col w-full table"
/>
