<mat-grid-list class="table-controls" cols="3" rowHeight="64">
  <mat-grid-tile>
    <mat-form-field>
      <input matInput [formControl]="searchFilter" placeholder="{{'VAR.SEARCH' | translate}}" />
      <span matSuffix><mat-icon>search</mat-icon></span>
    </mat-form-field>
  </mat-grid-tile>
  <mat-paginator [pageSizeOptions]="getPageSizeOptions()"></mat-paginator>
  <mat-divider [vertical]="true"></mat-divider>
  <mat-grid-tile>
    <mat-select
      color="primary"
      (selectionChange)="addToGroup($event.value)"
      placeholder="{{'GROUPS.ADDSELECTED' | translate}}"
      #group_select
      disabled="true"
      [hidden]="group_select.hidden"
    >
      <mat-option *ngFor="let g of variableGroups" [value]="g.varGrp['@ID']">
        {{ g.varGrp.labl }}
      </mat-option>
    </mat-select>
  </mat-grid-tile>
</mat-grid-list>

<mat-table class="mat-elevation-z8" [dataSource]="datasource" matSort (matSortChange)="sortChange($event)">

  <!-- Checkbox Column in 'All Variables' view -->
  <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef>
      <mat-checkbox
        (change)="$event ? masterToggle() : null"
        [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()"
      >
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-checkbox
        (click)="$event.stopPropagation()"
        (change)="$event ? selection.toggle(row) : null; checkSelection()"
        [checked]="selection.isSelected(row)"
        matTooltip="{{'VAR.SELECT' | translate}}"
      >
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <!-- MINUS PLUS Column in Group view -->
  <ng-container matColumnDef="control">
    <mat-header-cell *matHeaderCellDef
      ><div style="width:40px;"></div
    ></mat-header-cell>
    <mat-cell *matCellDef="let row; let i = index">
      <button
        *ngIf="row._show"
        mat-icon-button
        color="accent"
        (click)="onRemove(row['@ID'])"
        matTooltip="{{'GROUPS.REMOVE' | translate}}"
      >
        <mat-icon  [attr.aria-label]="'GROUPS.REMOVE' | translate">indeterminate_check_box</mat-icon>
      </button>
      <button
        *ngIf="!row._show"
        mat-icon-button
        color="accent"
        (click)="onAdd(row['@ID'])"
        matTooltip="{{'GROUPS.ADDTO' | translate}}"
      >
        <mat-icon [attr.aria-label]="'GROUPS.ADDTO' | translate">add_box</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'VAR.ID' | translate}}</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row['id'] }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="_order">
    <mat-header-cell *matHeaderCellDef mat-sort-header>order</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row['_order'] }} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'VAR.NAME' | translate}}</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ (row['@name'].length > 30) ? (row['@name'] | slice:0:30) + '...' : (row['@name']) }}  </mat-cell>
  </ng-container>

  <!-- Label Column -->
  <ng-container matColumnDef="labl">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'VAR.LABEL' | translate}}</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ (row.labl['#text'].length > 150) ? (row.labl['#text'] | slice:0:150) + '...' : (row.labl['#text'])}} </mat-cell>
  </ng-container>

  <!-- Weight Column-->
  <ng-container matColumnDef="wgt-var">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'VAR.WEIGHT' | translate}}</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <span *ngIf="row['@wgt-var'] ; else elseBlock">{{ row['@wgt-var'] }} </span>
      <ng-template #elseBlock>
        <span *ngIf="row['@wgt']">{{ row['@wgt'] }}</span>
      </ng-template>
    </mat-cell>
  </ng-container>

  <!-- View Column-->
  <ng-container matColumnDef="view">
    <mat-header-cell *matHeaderCellDef>{{'VAR.VIEW' | translate}}</mat-header-cell>
    <mat-cell *matCellDef="let row; let i = index">
      <button
        mat-icon-button
        color="accent"
        (click)="onView(row['@ID'])"
        matTooltip="{{'VAR.VIEW' | translate}}"
      >
        <mat-icon [attr.aria-label]="'VAR.VIEW' | translate">visibility</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <!-- Edit Column -->
  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef>
      <button
        mat-icon-button
        color="accent"
        (click)="onEditSelected()"
        matTooltip="{{'VAR.GROUPEDIT' | translate}}"
        #group_edit
        disabled="true"
      >
        <mat-icon [attr.aria-label]="'VAR.GROUPEDIT' | translate">edit</mat-icon>
      </button>
    </mat-header-cell>

    <mat-cell *matCellDef="let row; let i = index">
      <button
        mat-icon-button
        color="accent"
        (click)="onEdit(row['@ID'])"
        matTooltip="{{'VAR.EDIT' | translate}}"
      >
        <mat-icon [attr.aria-label]="'VAR.EDIT' | translate">edit</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="getDisplayedColumns()"></mat-header-row>
  <mat-row
    *matRowDef="let row; columns: getDisplayedColumns()"
    [ngClass]="{ unvis: row._show != true , active: row._active == true }"
  >
  </mat-row>
</mat-table>
