<div *ngIf="!(hasGraph$ | async)" class="text-3xl font-bold">
  This Variable has no data
</div>
<figure id="bar" class="px-7"></figure>
<table class="table-auto border mx-auto my-3">
  <thead>
    <tr class="border">
      <th class="border table-header">Values</th>
      <th class="border table-header">Categories</th>
      <th class="border table-header">Count</th>
      <th class="border table-header">Count (%)</th>
      <th class="border table-header">Weighted Count</th>
    </tr>
  </thead>
  <tbody>
    <!-- Sample data rows -->
    <tr *ngFor="let item of data | keyvalue" class="my-3 border-b">
      <td class="border-r p-2">{{item.key}}</td>
      <td class="border-r p-2">{{getCategories(item.value)}}</td>
      <td class="border-r p-2">{{getCount(item.value)}}</td>
      <td class="border-r p-2">{{getCountPercent(item.value)}}</td>
      <td class="border-r p-2">{{getCountWeighted(item.value)}}</td>
    </tr>
    <!-- Add more rows as needed -->
  </tbody>
</table>
