<!-- Path: src/app/components/body/variables/data/table/multiselect-dropdown/multiselect-dropdown.component.html -->
<div class="relative w-full min-h-8 h-full">
  <dialog #dropdown [ngClass]="computedPosition()" class="z-20 w-full rounded">
    <div class="w-full min-h-14 py-2 overflow-auto flex flex-col rounded border border-light-outline-variant">
      @for (item of itemList() | keyvalue; track item.key) {
        <label class="px-2 py-2 hover:bg-base-100" for="{{ item.key }}">
          <input
            type="checkbox"
            [id]="item.key"
            [name]="item.key"
            [value]="item.key"
            [checked]="checkSelected(item.key)"
            (change)="changeSelected(item.key)"
          />
          {{ item.value }}
        </label>
      } @empty {
        <span class="mx-auto my-auto">{{ emptySetPlaceholderText() }}</span>
      }
    </div>
  </dialog>
  <button
    (click)="toggleDialog()"
    class="rounded border text-black absolute bg-white justify-start min-h-8 h-full w-full py-0.5 pr-0"
  >
    <div class="flex flex-row">
      <svg
        class="w-5 h-5 self-center mx-2"
        fill="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          clip-rule="evenodd"
          d="M12 3.75a.75.75 0 0 1 .75.75v6.75h6.75a.75.75 0 0 1 0 1.5h-6.75v6.75a.75.75 0 0 1-1.5 0v-6.75H4.5a.75.75 0 0 1 0-1.5h6.75V4.5a.75.75 0 0 1 .75-.75Z"
          fill-rule="evenodd"
        />
      </svg>
      @if (selectedItems().length) {
        <ul
          class="flex flex-row my-0.5 overflow-y-hidden static overflow-x-auto"
        >
          @for (item of (selectedItemsMatched() | keyvalue); track item.key) {
            <li id="$index" class="input-chip">
              {{ item.value }}
            </li>
          }
        </ul>
      } @else if (!selectedItems().length && (itemList() | keyvalue).length) {
        <span class="self-center button-label pr-5 text-black">{{ emptyPlaceholderText() }}</span>
      } @else if (!selectedItems().length && !(itemList() | keyvalue).length) {
        <span class="self-center button-label pr-5 text-black">{{ emptySetPlaceholderText() }}</span>
      }
    </div>
  </button>
</div>
