<div class="flex flex-col">
  @for (row of rows$ | async; track row.variableID; let idx = $index) {
    <dct-dropdown
      [groups]="groups$ | async"
      [variables]="variables$ | async"
      type="rows"
      [index]="idx"
      [selectedVariable]="row"
      (emitNewSelectedVariable)="onVariableSelect($event)"
    ></dct-dropdown>
  }
  @for (column of columns$ | async; track column.variableID; let idx = $index) {
    <dct-dropdown
      [groups]="groups$ | async"
      [variables]="variables$ | async"
      type="columns"
      [index]="idx"
      [selectedVariable]="column"
      (emitNewSelectedVariable)="onVariableSelect($event)"
    ></dct-dropdown>
  }
  <div class="flex flex-row">
    <button class="addNew surface on-surface-text">Add Row</button>
    <button class="addNew on-surface-variant on-surface-text">
      Add Column
    </button>
    <button class="addNew secondary on-secondary-text">View Graph</button>
  </div>
  <dct-cross-table [data]="table$ | async"></dct-cross-table>
  <!-- @if (table$ | async) {
         } -->
</div>
