<dct-variable-selection />

<!--<div class="mx-auto my-auto controls-and-button">-->
<!--  <button class="add-new surface on-surface-text" (click)="addNewEmptyRow()">-->
<!--    Add Row-->
<!--  </button>-->
<!--  <button-->
<!--    class="add-new on-surface-variant on-surface-text"-->
<!--    (click)="addNewEmptyColumn()"-->
<!--  >-->
<!--    Add Column-->
<!--  </button>-->
<!--  <button class="add-new secondary on-secondary-text">View Graph</button>-->
<!--</div>-->
<!--@if (allValuesLoaded()) {-->
<!--  <dct-cross-table-->
<!--    class="mx-auto my-auto graph-area"-->
<!--    [data]="$table()"-->
<!--    [rows]="computedRows()"-->
<!--    [cols]="computedColumns()"-->
<!--  ></dct-cross-table>-->
<!--}-->
