<!-- Path: src/app/components/body/variables/data/table/modal/chart/variable-information/variable-information.component.html -->
<table class="mx-auto w-full mb-10">
  <tr class="table-row border-b">
    <th class="text-left font-medium">{{ 'COMMON.LITQST' | translate }}</th>
    <td class="border-b p-2 text-right">{{ form().literalQuestion || '' }}</td>
  </tr>
  <tr class="table-row border-b">
    <th class="text-left font-medium">{{ 'COMMON.INTVQST' | translate }}</th>
    <td class="border-b p-2 text-right">
      {{ form().interviewQuestion || '' }}
    </td>
  </tr>
  <tr class="table-row border-b">
    <th class="text-left font-medium">{{ 'COMMON.POSTQST' | translate }}</th>
    <td class="border-b p-2 text-right">
      {{ form().postQuestion || '' }}
    </td>
  </tr>
  <tr class="table-row border-b">
    <th class="text-left font-medium">{{ 'COMMON.UNIVERSE' | translate }}</th>
    <td class="border-b p-2 text-right">
      {{ form().universe || '' }}
    </td>
  </tr>
  <tr class="table-row border-b">
    <th class="text-left font-medium">{{ 'COMMON.NOTES' | translate }}</th>
    <td class="border-b p-2 text-right">
      {{ form().notes || '' }}
    </td>
  </tr>
  <!--  <tr class="table-row border-b">-->
  <!--    <th class="text-left font-medium">Groups</th>-->
  <!--    <td class="border-b p-2 text-right">-->
  <!--      @for (group of $groups() | keyvalue; track group.key) {-->
  <!--        <span> {{ group.value }}, </span>-->
  <!--      }-->
  <!--    </td>-->
  <!--  </tr>-->
  <tr class="table-row border-b">
    <th class="text-left font-medium">{{ 'EDIT.WEIGHT_VARIABLE' | translate }}</th>
    <td class="border-b p-2 text-right">
      {{ form().assignedWeight }}
    </td>
  </tr>
  <tr class="table-row border-b">
    <th class="text-left font-medium">{{ 'EDIT.IS_WEIGHT' | translate }}</th>
    <td class="border-b p-2 capitalize text-right">{{ form().isWeight }}</td>
  </tr>
</table>
