<table class="mb-5 w-full">
  <tr class="table-row my-4 border-b p-2">
    <th class="text-left font-medium">Mode</th>
    <td class="font-normal text-right">{{ mode() }}</td>
  </tr>
  <tr class="table-row my-4 border-b p-2">
    <th class="text-left font-medium">Minimum</th>
    <td class="font-normal text-right">{{ minimum() }}</td>
  </tr>
  <tr class="table-row my-4 border-b p-2">
    <th class="text-left font-medium">Standard Deviation</th>
    <td class="font-normal text-right">{{ standardDeviation() }}</td>
  </tr>
  <tr class="table-row my-4 border-b p-2">
    <th class="text-left font-medium">Total Valid Count</th>
    <td class="font-normal text-right">{{ totalValidCount() }}</td>
  </tr>
  <tr class="table-row my-4 border-b p-2">
    <th class="text-left font-medium">Total Invalid Count</th>
    <td class="font-normal text-right">{{ totalInvalidCount() }}</td>
  </tr>
  <tr class="table-row my-4 border-b p-2">
    <th class="text-left font-medium">Mean</th>
    <td class="font-normal text-right">{{ mean() }}</td>
  </tr>
  <tr class="table-row my-4 border-b p-2">
    <th class="text-left font-medium">Maximum</th>
    <td class="font-normal text-right">{{ maximum() }}</td>
  </tr>
  <tr class="table-row my-4 border-b p-2">
    <th class="text-left font-medium">Median</th>
    <td class="font-normal text-right">{{ median() }}</td>
  </tr>
</table>
