<div mat-dialog-content>

  <h1 mat-dialog-title>{{data["@name"]}}: {{data["labl"]["#text"]}}</h1>

  <app-chart [data]="sortedCategories"></app-chart>

  <table class="table-bordered">
  <tr>
      <th>Values</th>
      <th>Categories</th>
      <th>Count</th>
      <th>Weighted Count</th>
  </tr>
    <tr *ngFor="let row of sortedCategories">
      <td>{{row.catValu}}</td>
      <td>{{row.labl["#text"]}}</td>
      <td *ngIf="isUndefined(row.catStat); else elseBlock"></td>
      <ng-template #elseBlock>
        <td *ngIf="isUndefined(row.catStat.length); else elseBlock2"></td>
        <ng-template #elseBlock2>
          <td>{{row.catStat[0]["#text"]}}</td>
        </ng-template>
      </ng-template>
      <td *ngIf="isUndefined(row.catStat); else elseBloc"></td>
      <ng-template #elseBloc>
        <td *ngIf="doesExist(row.catStat.length); else elseBloc2">{{row.catStat[1]["#text"]}}</td>
        <ng-template #elseBloc2>
          <td></td>
        </ng-template>
      </ng-template>
    </tr>
  </table>


</div>
