<div mat-dialog-content>

  <button mat-icon-button mat-dialog-close i18n-matTooltip matTooltip="Close" class="close-dialog">
      <mat-icon i18n-aria-label aria-label="Close">close</mat-icon>
  </button>

  <h1 mat-dialog-title>{{data["@name"]}}: {{data["labl"]["#text"]}}</h1>

  <app-chart [data]="sortedCategories"></app-chart>

  <table class="table-bordered">
    <tr>
        <th i18n>Values</th>
        <th i18n>Categories</th>
        <th i18n>Count</th>
        <th i18n>Weighted Count</th>
    </tr>
    <tr *ngFor="let row of sortedCategories">
      <td>{{row.catValu}}</td>
      <td>{{row.labl["#text"]}}</td>
      <td *ngIf="isUndefined(row.catStat); else elseBlock"></td>
      <ng-template #elseBlock>
        <td *ngIf="isUndefined(row.catStat.length); else elseBlock2"></td>
        <ng-template #elseBlock2>
          <td>{{row.catStat[0]["#text"] | number}}</td>
        </ng-template>
      </ng-template>
      <td *ngIf="isUndefined(row.catStat); else elseBloc"></td>
      <ng-template #elseBloc>
        <td *ngIf="doesExist(row.catStat.length); else elseBloc2">{{row.catStat[1]["#text"] | number }}</td>
        <ng-template #elseBloc2>
          <td></td>
        </ng-template>
      </ng-template>
    </tr>
  </table>

</div>
