<div mat-dialog-content>
  <h1 mat-dialog-title>{{data["@name"]}}: {{data["labl"]["#text"]}}</h1>
  <app-chart [data]="sorted_categories"></app-chart>
  <table class="table-bordered">
  <tr>
      <th>Values</th>
      <th>Categories</th>
      <th>N</th>
    <th>NW</th>
  </tr>
    <tr *ngFor="let row of sorted_categories">
      <td>{{row.catValu}}</td>
      <td>{{row.labl["#text"]}}</td>
      <td *ngIf="isUndefined(row.catStat); else elseBlock"></td>
      <ng-template #elseBlock>
      <td>{{row.catStat["#text"]}}</td>
      </ng-template>

      <td></td>
    </tr>

  </table>


</div>
