<!-- Path: src/app/components/import/import.component.html -->
<div class="import-body flex flex-col mx-5">
  <div class="flex flex-row w-full">
    <h2 class="import-heading w-full py-6 font-bold">
      {{ 'IMPORT.IMPORT_XML' | translate }}
    </h2>
  </div>
  <div class="flex flex-row w-full">
    <div class="flex flex-col border-r pr-10 mr-5">
      <p class="w-full mb-5 text-base">
        {{ 'IMPORT.SELECT_DDI_SECTIONS' | translate }}
      </p>
      <label class="input-label" for="variable-groups">
        <input
          [(ngModel)]="variableGroups"
          id="variable-groups"
          name="variable-groups"
          type="checkbox"
        />
        {{ 'IMPORT.SELECT_DDI_SECTIONS' | translate }}
        Variable Groups
      </label>
      <label class="input-label" for="labels">
        <input [(ngModel)]="labels" id="labels" name="labels" type="checkbox" />
        {{ 'IMPORT.LABELS' | translate }}
      </label>
      <label class="input-label" for="question-texts">
        <input
          (change)="onQuestionTextSelect()"
          [indeterminate]="questionTextIndeterminate() && !questionTextSelection()"
          [ngModel]="questionTextSelection()"
          id="question-texts"
          name="question-texts"
          type="checkbox"
        />
        {{ 'IMPORT.QSTN_TXT' | translate }}
      </label>
      <div class="flex flex-col px-5">
        <label class="input-label" for="literal-question">
          <input
            [(ngModel)]="literalQuestion"
            id="literal-question"
            name="literal-question"
            type="checkbox"
          />
          {{ 'IMPORT.LITQST' | translate }}
        </label>
        <label class="input-label" for="interviewer-question">
          <input
            [(ngModel)]="interviewerQuestion"
            id="interviewer-question"
            name="interviewer-question"
            type="checkbox"
          />
          {{ 'IMPORT.INTVQST' | translate }}
        </label>
        <label class="input-label" for="postQText">
          <input
            [(ngModel)]="postQuestion"
            id="postQText"
            name="postQText"
            type="checkbox"
          />
          {{ 'IMPORT.POSTQST' | translate }}
        </label>
      </div>
      <label class="input-label" for="universe">
        <input
          [(ngModel)]="universe"
          id="universe"
          name="universe"
          type="checkbox"
        />
        {{ 'IMPORT.UNIVERSE' | translate }}
      </label>
      <label class="input-label" for="variable-notes">
        <input
          [(ngModel)]="variableNotes"
          id="variable-notes"
          name="variable-notes"
          type="checkbox"
        />
        {{ 'IMPORT.VAR_NOTE' | translate }}
      </label>
      <label class="input-label" for="weights">
        <input [(ngModel)]="weights" id="weights" name="weights" type="checkbox" />
        {{ 'IMPORT.WEIGHTS' | translate }}
      </label>
    </div>

    <div class="flex flex-col px-5">
      @if (file) {
        <span class="text-base">{{ file.name }}</span>
      } @else {
        <dct-file-upload-button
          class=""
          (fileSelected)="onFileSelected($event)"
        ></dct-file-upload-button>
      }

      @if (importing && importNotStarted()) {
        <button
          (click)="onImportButtonClick()"
          [disabled]="!file"
          class="btn btn-primary my-5"
        >
          @if (!file) {
            <span title="No File Selected">{{ 'IMPORT.IMPORT' | translate }}</span>
          } @else {
            <span class="">
              {{ 'IMPORT.START_IMPORT' | translate }}
            </span>
          }
        </button>
      }
      <div *ngIf="importInProgress()">
        <button
          class="btn btn-primary mt-5"
          disabled
          type="button"
        >
          <svg
            aria-hidden="true"
            class="inline w-4 h-4 me-3 text-white animate-spin"
            fill="none"
            role="status"
            viewBox="0 0 100 101"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
              fill="#E5E7EB"
            />
            <path
              d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
              fill="currentColor"
            />
          </svg>
          {{ 'IMPORT.IMPORTING' | translate }}
        </button>
      </div>
      @if (importSucceeded()) {
        <div role="alert" class="alert alert-success rounded mt-5">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 shrink-0 stroke-current"
            fill="none"
            viewBox="0 0 24 24">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <span>{{ 'IMPORT.IMPORT_SUCCESS' | translate }}</span>
        </div>
        <button class=" rounded border border-base-300 py-2.5 px-5 my-5 "
                (click)="closeImportComponentState()">
          {{ 'IMPORT.GO_BACK' | translate }}
        </button>
      } @else if (importError()) {
        <div role="alert" class="alert alert-error rounded mt-5">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 shrink-0 stroke-current"
            fill="none"
            viewBox="0 0 24 24">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <span>{{ 'IMPORT.IMPORT_ERROR' | translate }}</span>
        </div>
      }
    </div>
  </div>
</div>
