// Path: src/app/components/import/import.component.css
.import-heading {
  grid-area: 1 / 1 / 2 / 10;
}
.import-body {
  grid-area: 1 / 1 / 12 / 10;
  overflow-y: auto;
}
.import-button {
  grid-area: 9 / 1 / 10 / 10;
}
.input-label {
  @apply my-2;
}
