<header
  class="p-2.5 h-1/5 surface on-surface-text flex flex-col justify-between"
>
  <div class="flex flex-row justify-between">
    <span class="text-2xl">Data Curation</span>
    <select class="rounded-sm surface on-surface-text">
      <option>French</option>
      <option>English</option>
      <option>Portugese</option>
    </select>
  </div>
  <h1>{{ title$ | async }}</h1>
  <div class="flex flex-row justify-between">
    <p class="w-2/3">
      {{ citation$ | async }}
    </p>
    <span class="flex flex-row justify-end items-end">
      <button class="mx-2.5 px-1.5 py-0.5 h-max secondary on-secondary-text">
        DOWNLOAD
      </button>
      <button class="primary px-1.5 py-0.5 h-max on-primary-text">
        SAVE TO BOREALIS
      </button>
    </span>
  </div>
</header>
