@for (item of computedSelectedVariables(); track $index) {
  <dct-dropdown
    [index]="$index"
    [groups]="groups()"
    [variables]="variables()"
    [categories]="categories()"
    [variableOrientation]="item.orientation"
    [selectedVariableID]="item.variableID"
    [missing]="missing()"
    [variablesAlreadySelected]="variablesAlreadySelected()"
    (emitChangeVariableOrientation)="onVariableOrientationChange($event)"
    (emitChangeSelectedVariable)="changeVariableInGivenPosition($event)"
    (emitChangeSelectedCategories)="changeMissingCategoriesForVariable($event)"
  ></dct-dropdown>
}
