<!-- Path: src/app/components/body/variables/data/table/modal/chart/summary-statistics/summary-statistics.component.html -->
<table class="mb-10 w-full">
  <tr class="table-row my-4 border-b p-2">
    <th class="text-left font-medium">{{ 'COMMON.MODE' | translate }}</th>
    <td class="font-normal text-right">{{ mode() }}</td>
  </tr>
  <tr class="table-row my-4 border-b p-2">
    <th class="text-left font-medium">{{ 'COMMON.MINIMUM' | translate }}</th>
    <td class="font-normal text-right">{{ minimum() }}</td>
  </tr>
  <tr class="table-row my-4 border-b p-2">
    <th class="text-left font-medium">{{ 'COMMON.STANDARD_DEVIATION' | translate }}</th>
    <td class="font-normal text-right">{{ standardDeviation() }}</td>
  </tr>
  <tr class="table-row my-4 border-b p-2">
    <th class="text-left font-medium">{{ 'COMMON.TOTAL_VALID_COUNT' | translate }}</th>
    <td class="font-normal text-right">{{ totalValidCount() }}</td>
  </tr>
  <tr class="table-row my-4 border-b p-2">
    <th class="text-left font-medium">{{ 'COMMON.TOTAL_INVALID_COUNT' | translate }}</th>
    <td class="font-normal text-right">{{ totalInvalidCount() }}</td>
  </tr>
  <tr class="table-row my-4 border-b p-2">
    <th class="text-left font-medium">{{ 'COMMON.MEAN' | translate }}</th>
    <td class="font-normal text-right">{{ mean() }}</td>
  </tr>
  <tr class="table-row my-4 border-b p-2">
    <th class="text-left font-medium">{{ 'COMMON.MAXIMUM' | translate }}</th>
    <td class="font-normal text-right">{{ maximum() }}</td>
  </tr>
  <tr class="table-row my-4 border-b p-2">
    <th class="text-left font-medium">{{ 'COMMON.MEDIAN' | translate }}</th>
    <td class="font-normal text-right">{{ median() }}</td>
  </tr>
</table>
