<div mat-dialog-content >
  <form [formGroup]="form" (ngSubmit)="submit(form)">
    <h1 mat-dialog-title>{{'VARDIALOG.VARINFO' | translate}}</h1>

    <mat-dialog-content>
      <mat-grid-list class="table-controls" cols="2" rowHeight="62">
        <mat-grid-tile colspan="1" rowspan="1">
          <mat-form-field>
            <input matInput formControlName="id" placeholder="{{'VAR.ID' | translate }}" value="{{data['@ID']}}"  >
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <mat-form-field>
            <input matInput formControlName="name" placeholder="{{'VAR.NAME' | translate}}" value="{{data['@name']}}" >
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="2" rowspan="1">
          <mat-form-field  class="field_width">
             <input matInput formControlName="labl" placeholder="{{'VAR.LABEL' | translate}}" value="{{data.labl['#text']}}">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1">
          <mat-form-field  class="field_width">
            <input matInput formControlName="qstnLit" placeholder="{{'VARDIALOG.LITQ' | translate}}" value="{{data.qstn.qstnLit}}">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="2" rowspan="1">
          <mat-form-field  class="field_width">
            <input matInput formControlName="ivuInstr" placeholder="{{'VARDIALOG.INTINSTR' | translate}}" value="{{data.qstn.ivuInstr}}">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1">
          <mat-form-field  class="field_width">
            <input matInput formControlName="postQTxt" placeholder="{{'VARDIALOG.POSTQ' | translate}}" value="{{data.qstn.postQTxt}}">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1">
          <mat-form-field  class="field_width">
            <input matInput formControlName="universe" placeholder="{{'VARDIALOG.UNIVERSE' | translate}}" value="{{data.universe['#text']}}">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="2">
          <mat-form-field class="field_width" >
            <textarea matInput formControlName="notes" class="textarea_height" placeholder="{{'VARDIALOG.NOTES' | translate}}" value="{{data.notes['#cdata']}}" ></textarea>
          </mat-form-field>
        </mat-grid-tile>
        <!--Group chip list-->
        <mat-grid-tile colspan="2" rowspan="1" class="field_width">
          <mat-form-field class="field_width">
            <mat-select formControlName="_groups" [(value)]="data['_groups']"  placeholder="{{'VARDIALOG.GROUP' | translate}}" multiple="true">
              <mat-option *ngFor="let g of variableGroups" [value]="g.varGrp['@ID']" >
                {{ g.varGrp.labl}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="1" rowspan="1">
          <mat-form-field>
            <mat-select formControlName="wgt_var" [(value)]="data['@wgt-var']" placeholder="{{'VARDIALOG.WEIGHTVAR' | translate}}">
              <mat-option *ngFor="let w of weights" [value]="w['@ID']">
                {{ w['@name'] }}
              </mat-option>
              <mat-option>{{'VARDIALOG.UNWEIGHTED' | translate}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <section class="example-section">
            <mat-checkbox formControlName="wgt" align="end" checked="{{data['@wgt']}}">{{'VARDIALOG.ISWEIGHT' | translate}}</mat-checkbox>
          </section>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <button mat-raised-button type="submit">{{'VARDIALOG.UPDATE' | translate}}</button>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <button mat-raised-button type="button" (click)="cancel()">{{'VARDIALOG.CANCEL' | translate}}</button>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-dialog-content>
  </form>
</div>
