.multiselect-container {
  @apply flex
  flex-col
  relative;
}

.multiselect-button {
  @apply flex
  flex-row
  justify-between
  w-full
  h-full
  px-3
  h-10
  text-left;
}

.input-chip {
  @apply mr-2
  px-1.5
  max-w-fit
  min-w-max
  h-full
  w-full
  flex
  flex-row
  flex-grow
  rounded
  bg-primary
  text-white;

}

.top {
  @apply -translate-y-[10rem];
}

.bottom {
  @apply border-none translate-y-3 mb-1.5;
}
