<div class="relative w-full">
  <dialog #dropdown class="w-full min-h-14 bottom-2 ">
    <div class="w-full flex flex-col">
      @for (item of itemList() | keyvalue; track item.key) {
        <label class="pb-3" for="{{ item.key }}">
          <input
            type="checkbox"
            [id]="item.key"
            [name]="item.key"
            [value]="item.key"
            [checked]="checkSelected(item.key)"
            (change)="changeSelected(item.key)"
          />
          {{ item.value }}
        </label>
      }
    </div>
  </dialog>
  <button
    class="rounded bg-gray-400 absolute justify-start min-h-8 w-full pr-0"
    (click)="toggleDialog()"
  >
    <div class="flex flex-row">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="w-5 h-5 self-center mx-2"
      >
        <path
          fill-rule="evenodd"
          d="M12 3.75a.75.75 0 0 1 .75.75v6.75h6.75a.75.75 0 0 1 0 1.5h-6.75v6.75a.75.75 0 0 1-1.5 0v-6.75H4.5a.75.75 0 0 1 0-1.5h6.75V4.5a.75.75 0 0 1 .75-.75Z"
          clip-rule="evenodd"
        />
      </svg>
      @if (selectedItems().length) {
        <ul
          class="flex flex-row overflow-y-hidden static overflow-x-auto self-center"
        >
          @for (item of (selectedItemsMatched() | keyvalue); track item.key) {
            <li id="$index" class="flex-none input-chip self-center">
              {{ item.value }}
            </li>
          }
        </ul>
      } @else {
        <span class="self-center button-label pr-5">{{ emptyPlaceholderText() }}</span>
      }
    </div>
  </button>
</div>
