<button class="multiselect-button" (click)="toggleDialog()">
  @if( selectedVariableGroups.length ){
  <ul class="flex flex-row w-5/6 overflow-y-hidden static overflow-x-auto">
    @for (variableGroup of ( selectedVariableGroups | keyvalue ); track $index)
    {
    <li id="getVariableID(variableGroup.key)" class="input-chip">
      {{ getVariableLabel(variableGroup.value) }}
    </li>
    }
  </ul>
  } @else { Add to Group }
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    fill="currentColor"
    class="mt-1 w-5 h-5"
  >
    <path
      fill-rule="evenodd"
      d="M12 3.75a.75.75 0 0 1 .75.75v6.75h6.75a.75.75 0 0 1 0 1.5h-6.75v6.75a.75.75 0 0 1-1.5 0v-6.75H4.5a.75.75 0 0 1 0-1.5h6.75V4.5a.75.75 0 0 1 .75-.75Z"
      clip-rule="evenodd"
    />
  </svg>
</button>

<dialog #dropdown class="dropdown" ngClass="{{ position }}">
  <fieldset class="flex flex-col h-52 overflow-y-auto">
    @for (variableGroup of (allVariableGroups$ | keyvalue); track $index) {
    <label for="{{ getVariableID(variableGroup.value) }}">
      <input
        type="checkbox"
        id="{{ getVariableID(variableGroup.value) }}"
        name="{{ getVariableID(variableGroup.value) }}"
        [checked]="checkSelected(variableGroup.value)"
        (change)="changeSelected(variableGroup.value)"
      />
      {{ getVariableLabel(variableGroup.value) }}
    </label>
    }
  </fieldset>
</dialog>
