<!-- MODAL -->
<!-- Based on https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dialog -->
<dialog #modal id="{{ id$ }}" class="modal">
  <div class="modal-header">
    <div class="flex flex-row justify-between">
      <h2 class="my-auto">{{ mode$ | async }} Variable</h2>
      <button (click)="closeModal()" class="">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-6 h-6"
        >
          <path
            fill-rule="evenodd"
            d="M5.47 5.47a.75.75 0 011.06 0L12 10.94l5.47-5.47a.75.75 0 111.06 1.06L13.06 12l5.47 5.47a.75.75 0 11-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 01-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 010-1.06z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
    </div>
    @if(!( ( mode$ | async ) === 'Bulk Edit' )) {
    <div class="flex flex-row justify-between">
      <!-- Change Mode -->
      <button
        (click)="changeMode()"
        class="flex flex-row text-sm rounded border px-2 py-2"
      >
        @if((mode$ | async) === 'View') {
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="mr-2 w-4 h-4"
        >
          <path
            d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2z"
          />
        </svg>
        EDIT } @else {
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="mr-2 w-4 h-4"
        >
          <path
            d="M18.375 2.25c-1.035 0-1.875.84-1.875 1.875v15.75c0 1.035.84 1.875 1.875 1.875h.75c1.035 0 1.875-.84 1.875-1.875V4.125c0-1.036-.84-1.875-1.875-1.875h-.75zM9.75 8.625c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-.75a1.875 1.875 0 01-1.875-1.875V8.625zM3 13.125c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v6.75c0 1.035-.84 1.875-1.875 1.875h-.75A1.875 1.875 0 013 19.875v-6.75z"
          />
        </svg>
        VIEW }
      </button>
      <!-- VARIABLE NAVIGATE -->
      <div>
        <button class="rounded mx-1 border p-2" (click)="previousVar()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-5 h-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.75 19.5L8.25 12l7.5-7.5"
            />
          </svg>
        </button>
        <button class="rounded mx-1 border p-2" (click)="nextVar()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-5 h-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M8.25 4.5l7.5 7.5-7.5 7.5"
            />
          </svg>
        </button>
      </div>
    </div>
    }
    <hr class="mt-3 mx-4" />
  </div>
  @if ((open$ | async)) {
  <div class="modal-body">
    @if ((mode$ | async) === 'View') {
    <div>{{ label$ | async }}</div>
    } @if (!( (mode$ | async) === 'Bulk Edit' )) {
    <div>ID: {{ id$ | async }}</div>
    <div>Name: {{ name$ | async }}</div>
    } @if((mode$ | async) === 'View') {
    <app-chart></app-chart>
    } @else {
    <app-form
      [allWeights$]="allWeights$"
      [variableWeight$]="variableWeight$"
    ></app-form>
    }
  </div>
  }
  <div class="modal-footer">
    <ng-content select=".modal-footer"></ng-content>
  </div>
</dialog>
