<main class="main">
  @if ((loaded$ | async) === 'success') {
    <dct-header class="header border-b"></dct-header>
    @if (isCrossTabOpen$ | async) {
      <dct-cross-tabulation class="body grid-flow-col"></dct-cross-tabulation>
    } @else {
      <div class="body">
        <dct-sidebar
          class="sidebar border-r border-light-surface z-20"
        ></dct-sidebar>
        @if (isOptionsMenuOpen$ | async) {
          <dct-import class="table"></dct-import>
        } @else {
          <dct-table
            class="table"
            [variablesWithGroups]="variablesWithGroups$ | async"
          ></dct-table>
        }
      </div>
    }
  }
  @if ((loaded$ | async) === 'idle') {
    <div
      class="beautiful h-screen w-screen flex flex-col justify-around items-center"
    >
      <h1 class="text-6xl text-white font-sans font-bold">
        Welcome Data Curators
      </h1>
      <p class="font-thin my-10 w-2/3 text-2xl text-white">
        The Data Explorer allows data owners and curators to view summary
        statistics for variables and to create and edit variable-level metadata
        for any tabular file in a dataset.
      </p>
      <button class="rounded border px-3 py-1.5 text-white">
        Import Your Own XML File
      </button>
    </div>
  }
  @if ((loaded$ | async) === 'pending') {
    <div class="h-screen w-screen flex flex-col items-center my-auto">
      <h1
        class="my-auto text-4xl font-bold animate-pulse dark:text-light-on-primary"
      >
        Loading dataset ...
      </h1>
    </div>
  }
</main>
