.main {
  height: 100vh;
  max-height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* grid-template-rows: repeat(10, 1fr); */
  font-size: 0.85rem;
}
.header {
  grid-area: 1 / 1 / 4 / 13;
}
.body {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  display: grid;
  grid-area: 4 / 1 / 13 / 13;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.sidebar {
  max-height: 100%;
  display: grid;
  grid-area: 1 / 1 / 5 / 4;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(9, 1fr);
}
.table {
  display: grid;
  grid-area: 1 / 4 / 5 / 13;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
}
.cross-tabulation {
  grid-area: 1 / 1 / 5 / 13;
  max-height: 100%;
}
.form-input {
  @apply rounded border w-full;
}
.beautiful {
  background: linear-gradient(-45deg, #4338ca, #db2777, #8604f3, #a723f4);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}
.cross-table-tab {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media screen and (max-width: 800px) {
  .body {
    display: block;
  }
  .main {
    display: contents;
  }
  .sidebar {
    max-height: 100%;
    display: block;
    grid-area: initial;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9, 1fr);
  }
  .table {
    display: block;
    grid-area: initial;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
  }
}

