<button class="w-full p-2 border rounded-md flex flex-row" (click)="onClick()">
    <div *ngFor="let group of variableGroups| keyvalue"
        class="primary-container on-primary-container-text mx-1 px-2 py-0.5 rounded text-ellipsis max-w-8 "> {{group.value}}</div>
</button>

<dialog #groups class="border rounded-md ">
    <label *ngFor="let group of (allGroups$ | async) | keyvalue" class="flex flex-row">
        <input type="checkbox" name="{{getGroupID(group.value)}}" value="{{getGroupID(group.value)}}" [checked]="checkSelected(group.value)" (click)="changeGroup(group.value)">
        {{ getGroupName( group.value ) }}
    </label>
</dialog>
