<h3 class="pb-2.5 text-lg font-bold">
  Label: {{ variableLabel() }}
</h3>
<!-- CHART -->
<h3 class="sr-only">Chart</h3>
<div [ngClass]="{ 'blur': !hasCategories() }" class="flex h-full w-full mt-4">
  <canvas id="variableChart"> {{ chartJS }}</canvas>
</div>
@if (hasCategories()) {
  <h3 class="font-bold text-xl mt-10">Chart Data</h3>
  <!-- CHART DATA -->
  <table class="w-full mt-2">
    <thead class="table-header">
    <tr class="border-gray-200 border-b">
      <th>Show In Graph</th>
      <th>Values</th>
      <th>Categories</th>
      <th>Count</th>
      <th>Count (%)</th>
      <th>Weighted Count</th>
      <th>Weighted (%)</th>
    </tr>
    </thead>
    <tbody>
      @for (item of chartTable() | keyvalue; track $index) {
        <tr class="border-gray-200 border-b">
          <td class="w-full justify-between">
            <label class="sr-only" for="{{ $index }}">Chart variable</label>
            <input
              class="mx-auto"
              type="checkbox"
              name="mark-invalid"
              id="{{ $index }}"
              [checked]="!item.value.invalid"
              (change)="toggleCheckbox(item.key)"
            />
          </td>
          <td>{{ item.key }}</td>
          <td>{{ item.value.category }}</td>
          <td>{{ item.value.count }}</td>
          <td>{{ item.value.countPercent  | number : '1.2-2' }}</td>
          <td>{{ item.value.weightedCount === 'None' ? 'None' : item.value.weightedCount | number : '1.2-2' }}</td>
          <td>{{ item.value.weightedCountPercent | number : '1.2-2' }}</td>
        </tr>
      }
    </tbody>
  </table>
} @else {
  <div class="md:absolute z-20 top-96 mx-auto text-xl">This Variable Has No Categories</div>
}

<h3 class="font-bold text-xl mt-10">Summary Statistics</h3>
<dct-summary-statistics
  [summaryStats]="sumStat()"
/>

<h3 class="font-bold text-xl mt-5">Variable Information</h3>
@if (form()) {
  <dct-variable-information class="mb-10"
                            [form]="form()" />
}
