<div class="flex flex-row px-10 h-full">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    transform="rotate(90)"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="my-6"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="m9 9 6-6m0 0 6 6m-6-6v12a6 6 0 0 1-12 0v-3"
    />
  </svg>

  <select name="add-to-group" id="add-to-group" class="group-dropdown">
    <option value="test">ADD TO GROUP</option>
  </select>

  <select name="add-to-group" id="add-to-group" class="weight-dropdown">
    <option value="test">ADD WEIGHT</option>
  </select>
  <button class="apply-button">APPLY</button>
</div>
