<dialog
  #variableModal
  id="variableModal"
  class="variable-modal rounded w-2/5 bg-white dark:bg-dark-surface-variant"
>
  <dct-modal-header
    class="modal-header"
    (closeVariableModal)="close()"
    [nextVar]="nextVar$ | async"
    [previousVar]="previousVar$ | async"
  ></dct-modal-header>
  <div class="modal-body h-full">
    @if ((modalMode$ | async) === 'edit') {
      <dct-edit
        [groups]="variableGroups$ | async"
        [variableData]="variableData$ | async"
        [weights]="allWeights$ | async"
      ></dct-edit>
    }
    @if ((modalMode$ | async) === 'view') {
      <dct-chart
        class="dark:text-white"
        [chart]="chart$ | async"
        [chartTable]="chartTable$ | async"
        [form]="variableData$ | async"
        [groups]="variableGroups$ | async"
        [sumStat]="sumStats$ | async"
      ></dct-chart>
    }
  </div>
  <dct-modal-footer
    class="flex flex-col w-full px-10 mb-5"
    (closeVariableModal)="close()"
  ></dct-modal-footer>
</dialog>
