<dialog
  #variableModal
  id="variableModal"
  class="variable-modal rounded bg-white dark:bg-dark-surface-variant"
>
  <dct-modal-header
    class="modal-header"
    (closeVariableModal)="close()"
  ></dct-modal-header>
  <div class="modal-body h-full">
    @if ((modalMode | async) === 'edit') {
    <dct-edit></dct-edit>
    } @if ((modalMode | async) === 'view') {
    <dct-chart></dct-chart>
    }
  </div>
  <dct-modal-footer
    class="flex flex-col w-full px-10 mb-5"
    (closeVariableModal)="close()"
  ></dct-modal-footer>
</dialog>
