.tab {
  @apply font-light border-0;
  padding: 1.5rem 1rem 3rem 1rem;
  height: 1rem;
}

.tab-active {
  @apply font-bold border-b-4 rounded-none;
}

.tab.tab-active:not(.tab-disabled):not([disabled]), .tab:is(input:checked) {
  @apply border-primary;
}
