<div class="sr-only">
  <h3>
    {{ selectedVariableLabel() || 'No variable selected' }}
    @if (variableOrientation() === 'cols') {
      [{{'CROSS_TABULATION.COLUMN' | translate}}]
    } @else if (variableOrientation() === 'rows') {
      [{{'CROSS_TABULATION.ROW' | translate}}]
    } @else {
      [{{'CROSS_TABULATION.SELECT_ROW_COL' | translate}}]
    }
  </h3>
</div>
<div class="w-full md:flex md:flex-row">
  <div class="w-full md:w-2/12 md:pr-1">
    <label class="my-2 flex flex-col" for="rowColumnSelect">
      {{ 'CROSS_TABULATION.ROW_COLUMN' | translate }}
      <p-dropdown
        [ngModel]="variableOrientation()"
        (ngModelChange)="onChangeVariableOrientation($event)"
        [options]="['rows', 'cols']"
        placeholder="{{ 'CROSS_TABULATION.NONE' | translate }}"
        styleClass="select w-full py-1.5 px-3 mt-2 bg-base-100 rounded border"
        panelStyleClass="rounded bg-base-100 border border-slate-300"
      >
        <ng-template pTemplate="selectedItem" let-item>{{
          item === 'rows' ? ('CROSS_TABULATION.ROW' | translate) : ('CROSS_TABULATION.COLUMN' | translate)
        }}</ng-template>
        <ng-template pTemplate="item" let-item>
            <span class="px-2">{{
              item === 'rows' ? ('CROSS_TABULATION.ROW' | translate) : ('CROSS_TABULATION.COLUMN' | translate) 
            }}</span>
        </ng-template>
      </p-dropdown>
    </label>
  </div>
  <div class="w-full md:w-2/12 md:pr-1">
    <label class="my-2 flex flex-col" for="groupDropdown">
      Group (Filter)
      <p-dropdown
        [ngModel]="selectedGroup()"
        optionValue="key"
        optionLabel="value.labl"
        (ngModelChange)="onGroupChange($event)"
        placeholder="All Variables"
        [options]="groups() | keyvalue"
        styleClass="select w-full py-1.5 px-3 mt-2 bg-base-100 rounded border"
        panelStyleClass="rounded bg-base-100 border border-slate-300"
      >
        <ng-template pTemplate="item" let-item>
            <span class="px-2">{{ item.value.labl }}</span>
        </ng-template>
      </p-dropdown>
    </label>
  </div>
  <div class="w-full md:w-5/12 md:pr-1">
    <label class="my-2 flex flex-col" for="variableDropdown"
      >Variable
      <p-dropdown
        [ngModel]="selectedVariableID()"
        [options]="filteredVariables()"
        (ngModelChange)="onVariableChange($event)"
        [filter]="true"
        filterBy="label"
        optionValue="variableID"
        optionLabel="label"
        placeholder="Select Variable"
        styleClass="select w-full py-1.5 px-3 mt-2 rounded border bg-base-100"
        panelStyleClass="w-44 relative rounded border border-slate-300 bg-base-100"
      >
        <ng-template pTemplate="filter" let-options="options">
          <div class="flex p-3 border-b">
            <div class="w-full">
              <input
                class="px-2 rounded border w-full border-slate-300 bg-base-100"
                type="text"
                pInputText
                placeholder="Filter"
                [(ngModel)]="filterValue"
                (click)="$event.stopPropagation()"
                (keyup)="options.filter($event)"
              />
            </div>
            <!-- <button pButton icon="pi pi-times" class="ml-3" (click)="myResetFunction(options)"></button> -->
          </div>
        </ng-template>
        <ng-template pTemplate="item" let-items>
          <span
            [ariaDisabled]="variablesAlreadySelected().includes(items.variableID)"
            [ngClass]="{
              'text-success hover:bg-current':
                variablesAlreadySelected().includes(items.variableID)
            }"
            class="hover:bg-base-300 py-2.5 w-full h-full"
          >
          {{ items.label }}
          </span>
        </ng-template>
        <!-- <ng-template pTemplate="selectedItem" let-value>
          {{ logIT(value) }}
          <span class="px-2 my-2">{{
            value?.label?.length
              ? value.label
              : variables()[selectedVariableID()].labl['#text']
          }}</span>
        </ng-template> -->
      </p-dropdown>
    </label>
  </div>
  <div class="w-full md:w-2/12 md:pr-1">
    <label class="my-2 flex flex-col" for="categoriesSelectedDropdown">
      Categories (Filter)
      <p-multiSelect
        [options]="filteredCategories() | keyvalue"
        [ngModel]="filteredMissing()"
        placeholder="None"
        [disabled]="!hasCategories()" 
        (ngModelChange)="changeMissingValues($event)"
        optionLabel="value"
        optionValue="key"
        showHeader="false"
        styleClass="select select-cats w-full px-3 py-1.5 mt-2 rounded border bg-base-100"
      >
        <ng-template pTemplate="empty">
          <span>No categories available</span>
        </ng-template>
        
        <ng-template pTemplate="selectedItems" let-items>
          @if (!hasCategories()) {
            <span>None</span>
          } @else {
            
              @for (item of items; track $index) {
                <span *ngIf="$index === 0" class="">
                  {{ item.value }}
                </span>
                <span *ngIf="$index > 0" class="-ml-1">
                  , {{ item.value }}
                </span>
              } @empty {
                <span>None</span>
              }
            
          }
        </ng-template>
        <ng-template let-item pTemplate="item">
          <div class=""> 
            <input *ngIf="!filteredMissing().includes(item.key)" type="checkbox" />
            <input *ngIf="filteredMissing().includes(item.key)" checked type="checkbox" />
            {{ item.value }}
          </div>
        </ng-template>
        <ng-template pTemplate="closeicon" class="hidden"></ng-template>
        <ng-template pTemplate="filtericon" class="hidden"></ng-template>

      </p-multiSelect>
      <!-- <dct-multiselect-dropdown
        (changeSelectedItems)="changeMissingValues($event)"
        [itemList]="filteredCategories()"
        [selectedItems]="filteredMissing()"
        emptyPlaceholderText="No Categories filtered"
        emptySetPlaceholderText="Choose a variable with categories"
        id="categoriesSelectedDropdown"
        position="bottom"
      /> -->
    </label>
  </div>
  <div class="w-full md:w-1/12 relative">
    <div class="flex flex-col mt-4 mb-2">
      <button (click)="removeVariable(index())" class="p-2 btn-action md:absolute bottom-2 right-0 border rounded border-slate-300 md:border-0">
        <svg
          class="mx-2 w-6 h-6"
          fill="none"
          stroke="currentColor"
          stroke-width="1.5"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
        <span class="sr-only">Remove this row</span>
      </button>
    </div>
  </div>
</div>


