.form-input {
  @apply rounded border
  p-2
  border-light-surface
  dark:border-dark-outline
  dark:bg-dark-surface-variant;
}

.group-dropdown {
  @apply w-72
  flex
  flex-col
  h-10
  rounded
  border
  border-light-surface
  dark:border-dark-surface
  bg-white
  text-gray-700
  dark:bg-dark-surface-variant
  dark:text-dark-on-surface-variant;
}

.p-checkbox {
  @apply hidden;
}
