<dialog
  #variableModal
  [ngClass]="{'hidden': !opened, '': opened}"
  class="modal modal-bottom sm:modal-middle"
  id="variableModal"
>
  <div [ngClass]="{'hide-toast': !saved, 'show-toast': saved}" class="toast toast-top toast-end">
    <div class="alert rounded alert-success" role="alert" aria-atomic="true" aria-live="polite">
      <span class="text-base-100">{{ 'COMMON.CHANGES_APPLIED' | translate }}</span>
      <button (click)="closeLoadedToast()">
        <svg class="size-6" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
          <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
    </div>
  </div>
  <div class="modal-box">
    <dct-modal-header
      (emitCloseModal)="close()"
      [hasApiKey]="hasApiKey()"
      [id]="variableID()"
      [modalMode]="modalMode()"
      [name]="variableName()"
      [nextVar]="nextVar()"
      [previousVar]="previousVar()"
      class="modal-header"
    ></dct-modal-header>
    <div class="modal-body h-full">
      @if ((modalMode()) === 'VIEW_VAR') {
        <dct-chart
          class="dark:text-white"
          [categoriesInvalid]="categoriesInvalid()"
          [hasCategories]="hasCategories()"
          [chart]="chart()"
          [variableLabel]="variableLabel()"
          [chartReference]="chartReference()"
          [chartTable]="chartTable()"
          [form]="variableFormData()"
          [sumStat]="sumStats()"
          [variableID]="variableID()"
          [weights]="allWeights()"
          [groups]="variableGroups()"
        ></dct-chart>
      } @else if (modalMode() === 'EDIT_VAR') {
        <dct-edit
          (emitToast)="showToast()"
          [allVariables]="allVariables()"
          [variablesWithCrossTabMetadata]="variablesWithCrossTabMetadata()"
          [weights]="allWeights()"
          [form]="variableFormData()"
          [variableID]="variableID()"
          [variableGroups]="variableGroups()"
          [allGroups]="allGroups()"
        />
      }
    </div>
    <dct-modal-footer
      (emitCloseModal)="close()"
      class="flex flex-col w-full pt-2"
    ></dct-modal-footer>
  </div>
</dialog>
