<dialog
  #variableModal
  class="modal modal-bottom sm:modal-middle"
  id="variableModal"
>
  <div class="modal-box">
    <dct-modal-header
      (closeVariableModal)="close()"
      (emitCloseModal)="close()"
      [id]="variableID()"
      [modalMode]="modalMode()"
      [name]="variableName()"
      [nextVar]="nextVar()"
      [previousVar]="previousVar()"
      class="modal-header"
    ></dct-modal-header>
    <div class="modal-body h-full">
      @if ((modalMode()) === 'view') {
        <dct-chart
          class="dark:text-white"
          [categoriesInvalid]="categoriesInvalid()"
          [hasCategories]="hasCategories()"
          [chart]="chart()"
          [chartTable]="chartTable()"
          [form]="variableFormData()"
          [sumStat]="sumStats()"
          [variableID]="variableID()"
          [weights]="allWeights()"
          [groups]="variableGroups()"
        ></dct-chart>
      } @else if (modalMode() === 'edit') {
        <dct-edit
          [weights]="allWeights()"
          [form]="variableFormData()"
          [variableID]="variableID()"
          [variableGroups]="variableGroups()"
          [allGroups]="allGroups()"
        />
      }
    </div>
    <dct-modal-footer
      (closeVariableModal)="close()"
      class="flex flex-col w-full pt-2"
    ></dct-modal-footer>
  </div>
</dialog>
