:host {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.logo-and-title {
  display: flex;
  align-items: center;
}

img {
  max-height: 100%;
  height: var(--md-sys-spacing-xl);
  width: auto;
  object-fit: contain;
}
