table {
  @apply table;
}

th {
  @apply border;
}

.pvtUi {
  @apply mx-5 md:mx-0;
}

.pvtRowLabel {
  @apply font-semibold bg-primary-content border;
}

.pvtColLabel {
  @apply font-semibold bg-secondary-content text-base-content;
}

.pvtAxisLabel {
  @apply border text-base-content bg-base-100;
}

.pvtTotalLabel {
  @apply border;
}

.pvtRowTotalLabel {
  @apply border text-base-content;
}

.pvtTotal {
  @apply border;
}

.pvtVal {
  @apply border;
}

.rowTotal {
  @apply border;
}

.pvtGrandTotal {
  @apply bg-base-200 border;
}

.pvtRendererArea {
  @apply px-0;
}
