.grey .mat-cell {
  color: #767676;
}

.active {
  background: #6d9cff;
}

.mat-header-cell {
  color: rgba(0,0,0,.6);
}

.mat-column-drag {
  flex:  0 1 50px;
}

.mat-column-select {
  flex:  0 1 50px;
}

.mat-column-control {
  flex:  0 1 50px;
}

.mat-column-id {
  flex:  0 1 100px;
}

.mat-column-name {
  flex:  1 1 100px;
}

.mat-column-labl {
  flex:  1 1 600px;
}

.mat-column-wgt-var {
  flex:  0 1 100px;
}

.mat-column-view {
  flex:  0 1 75px;
}

.mat-column-action {
  flex:  0 1 75px;
}