.grey {
  background: #f4f4f4;
}

.active {
  background: #6d9cff;
}

.mat-column-drag {
  flex:  1 1 40px;
}

.mat-column-select {
  flex:  1 1 40px;
}

.mat-column-control {
  flex:  1 1 30px;
}

.mat-column-wgt-var {
  flex:  1 1 30px;
}

.mat-column-id {
  flex:  1 1 75px;
}

.mat-column-name {
  flex:  1 1 75px;
}

.mat-column-labl {
  flex:  1 1 500px;
}
