<aside class="on-outline-text group-container">
    <button [ngClass]="{ 'selected' : (selectedGroup$ | async) === ''}" class="w-full py-5 px-4 text-lg text-left"
        (click)="changeGroup('')">All Variables</button>
    <div class="flex flex-row justify-between my-auto py-4 px-4 text-xl text-center font-bold">
        <div class="my-auto">Groups</div>
        <button *ngIf="!editingMode" class="group-button" (click)="toggleEditingMode()" class="primary on-primary-text flex flex-row rounded text-base px-2 py-1.5 mt-1">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" fill="currentColor" class="my-auto mr-2 w-4 h-4">
                <path fill-rule="evenodd"
                    d="M12 3.75a.75.75 0 01.75.75v6.75h6.75a.75.75 0 010 1.5h-6.75v6.75a.75.75 0 01-1.5 0v-6.75H4.5a.75.75 0 010-1.5h6.75V4.5a.75.75 0 01.75-.75z"
                    clip-rule="evenodd" />
            </svg>
            ADD</button>
    </div>
    <div *ngIf="editingMode" class="group-input">
        <input type="text" [(ngModel)]="newGroupName" placeholder="Enter group name">

        <!-- CONFIRM BUTTON -->
        <button (click)="confirmGroup()" class="confirm-button">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
        </button>

        <!-- CANCEL BUTTON -->
        <button (click)="cancelGroup()" class="cancel-button">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
        </button>
    </div>
    <ul *ngIf="checkGroups(( groups$ | async ))" class="flex flex-col h-max w-full">
        <button *ngFor="let item of groups$ | async | keyvalue" id="{{ item.key }}"
            class="py-4 pr-5 pl-6 text-left flex flex-row justify-between"
            [ngClass]="{ 'selected' : (selectedGroup$ | async) === getID(item.value), 'changed ': (recentlyChanged$ | async) === getID(item.value) }"
            (click)="changeGroup(item.value)">
            {{ getLabel(item.value) }}
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                <path
                    d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2z" />
            </svg>
        </button>
    </ul>
</aside>
