<button
  [ngClass]="{ selected: (selectedGroup$ | async) === null }"
  (click)="changeGroup(null)"
  class="all-vars"
>
  All Variables
</button>
<nav class="">
  <div class="flex flex-row h-[70px] px-5 items-center justify-between">
    <span>Groups</span>
    <button>ADD</button>
  </div>
  <div class="h-[500px] overflow-y-scroll">
    @if ( groups$ | async ) {
    <ol>
      @for (varGroup of ((groups$ | async ) | keyvalue); track $index) {
      <li class="" (click)="changeGroup(varGroup.value)">
        <button
          [ngClass]="{
            selected: (selectedGroup$ | async) === getID(varGroup.value)
          }"
          class="h-16 w-full items-center text-start sidebar-button"
        >
          {{ getLabel(varGroup.value) }}
        </button>
      </li>
      }
    </ol>
    }
  </div>
</nav>
<button class="options-button">Options</button>
