<!-- CHART -->
<div class="flex w-full">
  <canvas id="variableChart"> {{ chartJS }}</canvas>
</div>
<!-- CHART DATA -->
<table class="table-fixed w-full">
  <thead>
    <tr class="border-b">
      <th>Mark Invalid</th>
      <th>Values</th>
      <th>Categories</th>
      <th>Count</th>
      <th>Count (%)</th>
      <th>Weighted Count</th>
    </tr>
  </thead>
  <tbody>
    @for (item of chartTable | keyvalue; track $index) {
      <tr class="border-y">
        <td class="w-full justify-between">
          <input
            class="mx-auto"
            type="checkbox"
            name="mark-invalid"
            id="{{ $index }}"
            [checked]="getChecked(item.value)"
            (change)="toggleCheckbox(item.value)"
          />
        </td>
        <td>{{ item.key }}</td>
        <td>{{ getCategory(item.value) }}</td>
        <td>{{ getCount(item.value) }}</td>
        <td>{{ getCountPercent(item.value) | number: '1.0-2' }}</td>
        <td>{{ getCountWeighted(item.value) | number: '1.0-2' }}</td>
      </tr>
    }
  </tbody>
</table>

<h3 class="font-bold text-xl mt-5">Summary Statistics</h3>
<table class="mb-5 w-full">
  @for (stat of sumStat; track $index) {
    <tr class="table-row my-4 border-b p-2">
      <th class="text-left font-medium">{{ stat.key }}</th>
      <th class="font-normal text-right">{{ stat.value }}</th>
    </tr>
  }
</table>

<h3 class="font-bold text-xl mt-5">Variable Information</h3>
@if (form) {
  <table class="mx-auto mb-5 w-full">
    <tr class="table-row border-b">
      <th class="text-left">Literal Question</th>
      <td class="border-b p-2 text-right">{{ form.literalQuestion }}</td>
    </tr>
    <tr class="table-row border-b">
      <th class="text-left">Interviewer Instructions</th>
      <td class="border-b p-2 text-right">
        {{ form.interviewQuestion }}
      </td>
    </tr>
    <tr class="table-row border-b">
      <th class="text-left">Post Questions</th>
      <td class="border-b p-2 text-right">
        {{ form.postQuestion }}
      </td>
    </tr>
    <tr class="table-row border-b">
      <th class="text-left">Universe</th>
      <td class="border-b p-2 text-right">
        {{ form.universe }}
      </td>
    </tr>
    <tr class="table-row border-b">
      <th class="text-left">Notes</th>
      <td class="border-b p-2 text-right">
        {{ form.notes }}
      </td>
    </tr>
    <tr class="table-row border-b">
      <th class="text-left">Groups</th>
      <td class="border-b p-2 text-right">
        @for (group of groups; track $index) {
          <span> {{ group.labl }}, </span>
        }
      </td>
    </tr>
    <tr class="table-row border-b">
      <th class="text-left">Weight Variable</th>
      <td class="border-b p-2 text-right">
        {{ weight }}
      </td>
    </tr>
    <tr class="table-row border-b">
      <th class="text-left">Is Weight</th>
      <td class="border-b p-2 capitalize text-right">{{ form.isWeight }}</td>
    </tr>
  </table>
}
