<!-- CHART -->
<figure id="bar"></figure>
<!-- CHART DATA -->
<table>
  <thead>
    <tr>
      <th>Mark Invalid</th>
      <th>Values</th>
      <th>Categories</th>
      <th>Count</th>
      <th>Count (%)</th>
      <th>Weighted Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="checkbox" name="mark-invalid" id="1" /></td>
      <td>test</td>
      <td>test</td>
      <td>test</td>
      <td>test</td>
      <td>test</td>
    </tr>
  </tbody>
</table>

<h3 class="font-bold text-xl">Summary Statistics</h3>
<h3 class="font-bold text-xl">Variable Information</h3>
