// Path: src/styles.css
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl lg:text-2xl font-light;
  }

  h2 {
    @apply text-xl lg:text-xl font-light;
  }

  button {
    @apply rounded-sm;
  }
}

@layer components {

  .btn {
    border-radius: 4px;
    border-color: transparent;
    font-size: 0.75rem;
    height: 2.5rem;
    min-height: 2.5rem;
    font-weight: 500;
    animation: none;
  }

  .btn-sm {
    border-radius: 4px;
    border-color: transparent;
    font-size: 0.75rem;
    height: 1.5rem;
    min-height: 1.5rem;
    font-weight: 500;
  }

  .btn-secondary,
  .btn-primary {
    @apply text-base-100;
  }

  .btn-action {
    @apply hover:bg-base-100 transition ease-in-out duration-300;
  }

  .btn-outline {
    @apply border border-slate-300 bg-transparent;
  }

  .btn-outline:hover {
    background: color-mix(
      in oklab,
      oklch(var(--btn-color, var(--b2)) / var(--tw-bg-opacity, 1)) 90%,
      black
    );
    border-color: color-mix(
      in oklab,
      oklch(var(--btn-color, var(--b2)) / var(--tw-bg-opacity, 1)) 90%,
      black
    );
    color: inherit;
  }

  .input,
  .select {
    height: 2.5rem;
    min-height: 2.5rem;
    border-radius: 4px;
    font-size: 0.75rem;
  }

  input,
  select,
  textarea {
    color-scheme: initial;
  }

  .form-outline {
    @apply border border-slate-300 bg-transparent;
  }

  .table :where(thead, tfoot) {
    @apply text-base-content;
  }

  .hide-toast {
    @apply scale-50 opacity-0 duration-200 invisible;
  }
  .show-toast {
    @apply scale-100 opacity-100 duration-200 visible;
  }
  
}

@layer utilities {
}

.select {
  @apply border-slate-300 rounded;
}
.p-multiselect-items-wrapper {
  @apply bg-base-100 rounded border border-slate-300;
}
.p-multiselect-item {
  padding: 0.5rem 1rem;
}
.p-multiselect-empty-message {
  padding: 0.5rem 1rem;
}
.p-menuitem-link {
  @apply leading-normal p-5 hover:bg-base-300 focus:bg-base-300;
}
.p-multiselect-item:hover, .p-multiselect-item:focus {
  @apply bg-base-300
}
.p-multiselect-trigger {
  display:none;
}
.p-focus {
  @apply bg-base-300
}
.p-checkbox {
  display: none !important;
}
.p-multiselect-label {
  padding-top: .45rem;
}
.select-cats .p-multiselect-label {
  padding-top: 0rem;
}
.p-dropdown-trigger {
  display:none;
}
.p-dropdown-item {
  @apply p-2 w-full hover:bg-base-300;
}
.p-disabled {
  --tw-border-opacity: 1;
  border-color: var(--fallback-b2,oklch(var(--b2)/var(--tw-border-opacity)));
  --tw-bg-opacity: 1;
  background-color: var(--fallback-b2,oklch(var(--b2)/var(--tw-bg-opacity)));
  color: var(--fallback-bc,oklch(var(--bc)/0.4));

}
.dropdownicon {
  background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1px + 50%), calc(100% - 16.1px) calc(1px + 50%);
  background-size: 4px 4px, 4px 4px;
  background-repeat: no-repeat;
}
.cdk-live-announcer-element {
  @apply sr-only;
}
.p-tooltip-left {
  @apply rounded p-2 text-xs text-base-100 bg-primary -ml-1.5;
}
.p-tooltip-left::after {
  @apply border-t-transparent border-r-transparent border-b-transparent border-l-primary ;
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%; /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
}