@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl lg:text-2xl font-light;
  }

  h2 {
    @apply text-xl lg:text-xl font-light;
  }

  button {
    @apply rounded-sm;
  }
}
@layer primeng {
  .p-multiselect-filter-container {
    @apply rounded border;
  }

  .p-multiselect-filter .p-inputtext .p-component {
    @apply rounded border;
  }
}

@layer components {
  .btn {
    border-radius: 4px;
    border-color: transparent;
    font-size: 0.75rem;
    height: 2.5rem;
    min-height: 2.5rem;
    font-weight: 500;
    animation: none;
  }

  .btn-sm {
    border-radius: 4px;
    border-color: transparent;
    font-size: 0.75rem;
    height: 1.5rem;
    min-height: 1.5rem;
    font-weight: 500;
  }

  .btn-secondary,
  .btn-primary {
    @apply text-base-100;
  }

  .btn-outline {
    @apply border border-slate-300 bg-transparent;
  }

  .btn-outline:hover {
    background: color-mix(
      in oklab,
      oklch(var(--btn-color, var(--b2)) / var(--tw-bg-opacity, 1)) 90%,
      black
    );
    border-color: color-mix(
      in oklab,
      oklch(var(--btn-color, var(--b2)) / var(--tw-bg-opacity, 1)) 90%,
      black
    );
    color: inherit;
  }

  .input,
  .select {
    height: 2.5rem;
    min-height: 2.5rem;
    border-radius: 4px;
  }

  input,
  select,
  textarea {
    color-scheme: initial;
  }

  .form-outline {
    @apply border border-slate-300 bg-transparent;
  }
}
