.add-new {
  @apply rounded
  border
  m-2
  px-2
  py-1.5
  border-light-surface
  dark:border-dark-surface-variant;
}

.rows-and-columns {
  grid-area: 1 / 1 / 2 / 13;
}

.controls-and-button {
  grid-area: 2 / 1 / 3 / 13;
}

.graph-area {
  grid-area: 3 / 1 / 5 / 13;
}

.preload-text {
  @apply transition-all duration-75 mx-auto text-base animate-pulse;
}