<div class="min-h-screen">
  <div class="py-52 mx-3 text-center md:hidden">
    The Cross Tabulation Calculator is optimized for larger screens. Open this
    page on a device such as a tablet, or computer to use the tool.
  </div>
  <dct-variable-selection class="" />

  <div class="flex flex-row justify-between mb-10 crosstab">
    <div class="flex flex-row">
      <button (click)="addNewEmptyRow()" class="flex flex-row text-primary my-5">
        <svg
          class="w-5 h-5"
          fill="none"
          stroke="currentColor"
          stroke-width="3"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12 4.5v15m7.5-7.5h-15"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
        <span class="my-auto mx-2.5 font-medium">ADD VARIABLE</span>
      </button>
      <p-dropdown
        [(ngModel)]="selectedOption"
        [options]="options()"
        panelStyleClass="rounded-b border w-full h-full mt-0.5 py-2"
        styleClass="rounded border h-fit mt-3 w-44 px-2 py-2 mx-5"
      >
        <ng-template let-value pTemplate="item">
        <span
          [ngClass]="{
            'bg-base-300 hover:bg-base-100': selectedOption() === value
          }"
          class="w-full my-5 px-2.5 py-0.5 hover:bg-base-300"
        >
          {{ value }}
        </span>
        </ng-template>
      </p-dropdown>
    </div>
    <div [ngClass]="{'hidden': !hasData()}" class="flex flex-row">
      <p-selectButton [(ngModel)]="defaultDataView" [allowEmpty]="false" [options]="chartOrTable()"
                      styleClass="bg-base-200 rounded mt-3 px-2 py-2">
        <ng-template let-item pTemplate>
          <span [ngClass]="{'bg-base-100 font-semibold': defaultDataView() === item}"
                class="px-1.5 py-0.5 rounded">{{ item }}</span>
        </ng-template>
      </p-selectButton>
      <button
        (click)="exportTable()"
        class="text-primary mx-2.5 mb-2.5 mt-3 hover:underline"
      >
        <span>Export Table As .csv</span>
      </button>
    </div>
  </div>

  @if (hasData() && hasRowOrColumn()) {
    @if (defaultDataView() === 'Table') {
      <dct-cross-table
        [cols]="cols()"
        [data]="table()"
        [rows]="rows()"
        [hasData]="true"
        [selectedViewOption]="selectedOptionComputed()"
        [exportClicked]="exportTable"
        class="mx-auto my-auto graph-area"
      ></dct-cross-table>
    } @else {
      <dct-cross-chart
        [cols]="cols()"
        [data]="table()"
        [rows]="rows()"
      />
    }
  } @else {
    <dct-cross-table
      [cols]="defaultColumns"
      [data]="defaultTable"
      [rows]="defaultRows"
      [hasData]="false"
      [exportClicked]="exportTable"
      class="mx-auto my-auto graph-area"
    ></dct-cross-table>

    <div class="w-full text-3xl font-medium relative bottom-96">
      <h3 class="text-center mx-auto">
        No Data! Start adding variables to generate your table
      </h3>
    </div>
  }
</div>
