<div class="py-52 mx-3 text-center md:hidden">
  The Cross Tabulation Calculator is optimized for larger screens. Open this page on
  a device such as a tablet, or computer to use the tool.
</div>
<dct-variable-selection />

<button class="flex flex-row text-primary">
  <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
       xmlns="http://www.w3.org/2000/svg">
    <path d="M12 4.5v15m7.5-7.5h-15" stroke-linecap="round" stroke-linejoin="round" />
  </svg>
  <span class="my-auto">ADD VARIABLE</span>
</button>

<!--@if (allValuesLoaded()) {-->
<!--  <dct-cross-table-->
<!--    class="mx-auto my-auto graph-area"-->
<!--    [data]="$table()"-->
<!--    [rows]="computedRows()"-->
<!--    [cols]="computedColumns()"-->
<!--  ></dct-cross-table>-->
<!--}-->
