<div class="w-full my-auto flex flex-row">
  <span class="h-full">
    <ng-content />
  </span>
  <label for="groupDropdown" class="sr-only">Group:</label>
  <select
    id="groupDropdown"
    class="dropdown"
    (change)="filterVariables($event.target)"
  >
    <option value="" disabled [defaultSelected]="true">Filter by Group</option>
    @for (group of groups; track $index) {
      <option [value]="group['@_var']">{{ group.labl }}</option>
    }
  </select>
  <label for="variableDropdown" class="sr-only">Variable:</label>
  <select
    id="variableDropdown"
    class="dropdown"
    [(ngModel)]="variableID"
    (change)="handleVariableSelect($event.target)"
  >
    <option value="null" disabled [defaultSelected]="true">
      Choose Variable
    </option>
    @for (variable of filteredVariables; track $index) {
      <option [value]="variable['@_ID']">{{ variable.labl['#text'] }}</option>
    }
  </select>
</div>
