<dct-table-nav
  class="table-nav px-5 flex flex-row justify-between"
  [total]="(vars$ | async)?.length"
  [limit]="limit"
  (limitChange)="onLimitChange($event)"
  (pagePreviousClick)="onPagePreviousClick()"
  (pageNextClick)="onPageNextClick()"
></dct-table-nav>
<div
  class="px-5"
  ngClass="{{
    selected.length ? 'table-container-selected' : 'table-container '
  }}"
>
  @if (vars$ | async) {
    <ngx-datatable
      #table
      class="material expandable"
      [loadingIndicator]="true"
      [rows]="vars$ | async"
      [columnMode]="'force'"
      [columns]="columns"
      [limit]="limit"
      [offset]="offset"
      [headerHeight]="64"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [sortType]="SortType.single"
      [selected]="selected"
      [selectionType]="SelectionType.checkbox"
      (activate)="onActivate($event)"
      (select)="onSelect($event)"
    >
      <ngx-datatable-column
        [width]="60"
        cellClass="flex items-center justify-around mx-5"
        headerClass="mx-5"
        [sortable]="false"
        [canAutoResize]="false"
        [draggable]="false"
        [resizeable]="true"
        [headerCheckboxable]="true"
        [checkboxable]="true"
      >
      </ngx-datatable-column>

      <ngx-datatable-column
        name="ID"
        headerClass="datatable-header"
        prop="@_ID"
        [resizeable]="true"
        [maxWidth]="120"
      >
        <ng-template
          let-row="row"
          let-value="value"
          ngx-datatable-cell-template
        >
          {{ row['@_ID'] }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        name="Name"
        headerClass="datatable-header"
        [sortable]="true"
        prop="@_name"
        [maxWidth]="200"
        [resizeable]="true"
      >
        <ng-template
          let-row="row"
          let-value="value"
          ngx-datatable-cell-template
        >
          <span class="flex flex-row">
            {{ row['@_name'] }}
            @if (isVariableGroupsEmpty(row['@_ID'])) {
              <span title="Variable not in group" class="mt-0.5">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="mx-1.5 w-5 h-5"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z"
                  />
                </svg>
              </span>
            }
          </span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        name="Label"
        [sortable]="true"
        prop="labl.#text"
        cellClass="pr-24"
        [width]="500"
        [resizeable]="true"
      >
        <ng-template
          let-row="row"
          let-value="value"
          ngx-datatable-cell-template
        >
          {{ row.labl ? row['labl']['#text'] : 'No Label' }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        name="Weight"
        [sortable]="true"
        cellClass="w-full flex flex-row pt-2 justify-between"
        [resizeable]="true"
      >
        <ng-template
          let-row="row"
          let-value="value"
          ngx-datatable-cell-template
        >
          {{ row['@_wgt-var'] ? row['@_wgt-var'] : 'No Weight' }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column 
        name="View/Edit" 
        [width]="100" 
        cellClass=""
        [resizeable]="true"
        >
        <ng-template ngx-datatable-header-template>
          @if (selected.length) {
            <dct-bulk-edit-modal [selected]="selected"></dct-bulk-edit-modal>
          }
        </ng-template>
        <ng-template
          let-row="row"
          let-value="value"
          ngx-datatable-cell-template
        >
          @if (hoveredVariable == row) {
            <dct-variable-options
              class="flex flex-row w-1/2 justify-end pt-1.5 px-2 w-full"
              [variable]="row"
              (launchModal)="launchModal($event)"
            ></dct-variable-options>
          }
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-footer>
        <ng-template
          ngx-datatable-footer-template
          let-rowCount="rowCount"
          let-pageSize="pageSize"
          let-selectedCount="selectedCount",
          let-curPage="curPage"
          let-offset="offset">
          <div class="font-bold">
            {{selectedCount}} selected / {{rowCount}} total
          </div>
          <!--
          <datatable-pager
            [pagerLeftArrowIcon]="'datatable-icon-left'"
            [pagerRightArrowIcon]="'datatable-icon-right'"
            [pagerPreviousIcon]="'datatable-icon-prev'"
            [pagerNextIcon]="'datatable-icon-skip'"
            [page]="curPage"
            [size]="pageSize"
            [count]="rowCount"
            [hidden]="!((rowCount / pageSize) > 1)"
            (change)="table.onFooterPage($event)">
          </datatable-pager>
          -->
        </ng-template>
        
      </ngx-datatable-footer>
    </ngx-datatable>
    <dct-modal class=""></dct-modal>
  } @else {
    <div class="text-5xl font-bold">Loading Variables...</div>
  }
</div>
@if (selected.length) {
  <dct-table-menu
    class="table-menu table-menu-grid"
    [selectedVariables]="selected"
  ></dct-table-menu>
}
