<form [formGroup]="variableForm" class="flex flex-col">
  <label class="form-label">
    Label
    <input
      type="text"
      formControlName="label"
      id="labl"
      name="label"
      class="form-input"
    />
  </label>
  <label class="form-label">
    Literal Question
    <input
      type="text"
      formControlName="literalQuestion"
      id="qstLit"
      name="qstLit"
      class="form-input"
    />
  </label>
  <label class="form-label">
    Interviewer Instructions
    <input
      type="text"
      formControlName="interviewerQuestion"
      id="ivuInstr"
      name="ivuInstr"
      class="form-input"
    />
  </label>
  <label class="form-label">
    Post Question
    <input
      type="text"
      formControlName="postQuestion"
      id="postQTxt"
      name="postQTxt"
      class="form-input"
    />
  </label>
  <label class="form-label">
    Universe
    <input
      type="text"
      formControlName="universe"
      id="universe"
      name="universe"
      class="form-input"
    />
  </label>
  <label class="form-label">
    Notes
    <textarea
      formControlName="notes"
      id="notes"
      name="notes"
      rows="4"
      cols="50"
      class="form-input"
    >
    </textarea>
  </label>
  <label for="multiselect" class="form-label"
    >Group(s)
    <dct-multiselect-dropdown
      id="multiselect"
      class="group-dropdown"
      [selectedVariableGroups]="groups || []"
    ></dct-multiselect-dropdown>
  </label>
  <div class="flex flex-row justify-between mt-5 pr-5">
    <label class="form-label sr-only" for="weightVar">Weight Variable</label>
    <select id="weightVar" class="weight-dropdown" formControlName="weight">
      <option value="" (click)="changeWeight('')">No Weight Assigned</option>
      @for (weightValue of ( weights | keyvalue); track $index) {
      <option [value]="weightValue.key" (click)="changeWeight(weightValue.key)">
        {{ weightValue.value }}
      </option>
      }
    </select>
    <label
      for="isWeight"
      class="flex flex-row items-center dark:text-dark-inverse-surface"
    >
      <input
        type="checkbox"
        name="isWeight"
        id="isWeight"
        formControlName="isWeight"
        class="mx-2"
      />Is Weight
    </label>
  </div>
</form>
