.form-label {
  @apply flex flex-col
  my-1
  dark:text-dark-inverse-surface;
}
.form-input {
  @apply rounded border
  p-2
  border-light-surface
  dark:border-dark-outline
  dark:bg-dark-surface-variant;
}