<div id="loading-details" *ngIf="!ddiLoaded" class="row content-area">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<ng-container class="interface-container">

  <mat-toolbar class="interface-header">
    <mat-toolbar-row>
      <h1 class="header-text title">{{title}}</h1>
    </mat-toolbar-row>
    <mat-toolbar-row class="header-text">
      {{filename}}
    </mat-toolbar-row>
    <mat-toolbar-row class="header-text citation">
      <span>{{firstCitat}}<a href="{{doi}}">{{doi}}</a>{{secondCitat}}</span>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <span class="groups-toggle">
        <ng-container *ngIf="sidenav.opened; else showGroups">
          <button mat-button (click)="sidenav.toggle()">
            <mat-icon color="accent" i18n-aria-label aria-label="Hide Groups">keyboard_arrow_left</mat-icon>
            <span class="button-label" i18n>Hide Groups</span>
          </button>
        </ng-container>
        <ng-template #showGroups>
          <button mat-button (click)="sidenav.toggle()">
            <mat-icon color="accent" i18n-aria-label aria-label="Show Groups">keyboard_arrow_right</mat-icon>
            <span class="button-label" i18n>Show Groups</span>
          </button>
        </ng-template>
      </span>
      <span class="fill-space"></span>
      <span class="action-buttons">
        <button mat-button (click)="onSave()">
          <mat-icon color="accent" i18n-aria-label aria-label="Download" i18n-matTooltip matTooltip="Download">get_app</mat-icon>
          <span class="button-label" i18n>Download</span>
        </button>
      </span>
      <span class="action-buttons">
        <button mat-button (click)="sendToDV()">
            <mat-icon color="accent" i18n-aria-label aria-label="Save" i18n-matTooltip matTooltip="Save">save</mat-icon>
            <span class="button-label" i18n>Save</span>
        </button>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="group-container">
    <mat-sidenav mode="side" opened class="side_nav" #sidenav #scrollMe>
      <app-var-group [variableGroups]="variableGroups" (subSetRows)="broadcastSubSetRows($event)" (selectGroup)="broadcastSelect($event)" (disableSelectGroup)="broadcastDeselectGroup()"
      (parentScrollNav)="scrollNav()"
      ></app-var-group>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-var [variableGroups]="variableGroups"></app-var>
    </mat-sidenav-content>
  </mat-sidenav-container>

</ng-container>
