<div id="loading-details" *ngIf="!ddiLoaded" class="row content-area">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<ng-container class="interface-container">
  <mat-toolbar class="interface-header">
    <mat-toolbar-row>
      <h1 class="header-text title">{{ title }}</h1>
      <span class="fill-space"></span>
      <!-- <mat-form-field class="lang-select">
           <select matNativeControl title="Language" #langSelect (change)="translate.use(langSelect.value)">
           <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{lang}}</option>
           </select>
           </mat-form-field> -->
    </mat-toolbar-row>
    <mat-toolbar-row class="header-text">
      {{ filename }}
    </mat-toolbar-row>
    <mat-toolbar-row class="header-text citation">
      <span
        >{{ firstCitat }}<a href="{{ doi }}">{{ doi }}</a
        >{{ secondCitat }}</span
      >
    </mat-toolbar-row>
    <mat-toolbar-row>
      <span class="groups-toggle">
        <ng-container *ngIf="sidenav.opened; else showGroups">
          <button mat-button (click)="sidenav.toggle()">
            <mat-icon
              color="accent"
              [attr.aria-label]="'GROUPS.HIDE' | translate"
              >keyboard_arrow_left</mat-icon
            >
            <span class="button-label">{{ 'GROUPS.HIDE' | translate }}</span>
          </button>
        </ng-container>
        <ng-template #showGroups>
          <button mat-button (click)="sidenav.toggle()">
            <mat-icon
              color="accent"
              [attr.aria-label]="'GROUPS.SHOW' | translate"
              >keyboard_arrow_right</mat-icon
            >
            <span class="button-label">{{ 'GROUPS.SHOW' | translate }}</span>
          </button>
        </ng-template>
      </span>
      <span class="fill-space"></span>
      <span class="action-buttons">
        <button mat-button (click)="onSave()">
          <mat-icon
            color="accent"
            [attr.aria-label]="'SAVE.DOWNLOAD' | translate"
            [attr.matTooltip]="'SAVE.DOWNLOAD' | translate"
            >get_app</mat-icon
          >
          <span class="button-label">{{ 'SAVE.DOWNLOAD' | translate }}</span>
        </button>
      </span>
      <span class="action-buttons">
        <button mat-button (click)="sendToDV()">
          <mat-icon
            color="accent"
            [attr.aria-label]="'SAVE.SAVE' | translate"
            [attr.matTooltip]="'SAVE.SAVE' | translate"
            >save</mat-icon
          >
          <span class="button-label">{{ 'SAVE.SAVE' | translate }}</span>
        </button>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="group-container">
    <mat-sidenav mode="side" opened class="side_nav" #sidenav #scrollMe>
      <app-var-group
        [variableGroups]="variableGroups"
        (subSetRows)="broadcastSubSetRows($event)"
        (selectGroup)="broadcastSelect($event)"
        (disableSelectGroup)="broadcastDeselectGroup()"
        (parentScrollNav)="scrollNav()"
      ></app-var-group>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-var [variableGroups]="variableGroups"></app-var>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
