<div mat-dialog-content >
  <form [formGroup]="form" (ngSubmit)="submit(form)">
    <h1 mat-dialog-title i18n>Variable Information</h1>

    <mat-dialog-content>
      <mat-grid-list class="table-controls" cols="2" rowHeight="62">
        <mat-grid-tile colspan="1" rowspan="1">
          <mat-form-field>
            <input matInput formControlName="id" i18n-placeholder placeholder="ID" value="{{data['@ID']}}"  >
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <mat-form-field>
            <input matInput formControlName="name" i18n-placeholder placeholder="Name" value="{{data['@name']}}" >
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="2" rowspan="1">
          <mat-form-field  class="field_width">
             <input matInput formControlName="labl" i18n-placeholder placeholder="Label" value="{{data.labl['#text']}}">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1">
          <mat-form-field  class="field_width">
            <input matInput formControlName="qstnLit" i18n-placeholder placeholder="Literal Question" value="{{data.qstn.qstnLit}}">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="2" rowspan="1">
          <mat-form-field  class="field_width">
            <input matInput formControlName="ivuInstr" i18n-placeholder placeholder="Interviewer Instructions" value="{{data.qstn.ivuInstr}}">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1">
          <mat-form-field  class="field_width">
            <input matInput formControlName="postQTxt" i18n-placeholder placeholder="Post Question" value="{{data.qstn.postQTxt}}">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1">
          <mat-form-field  class="field_width">
            <input matInput formControlName="universe" i18n-placeholder placeholder="Universe" value="{{data.universe['#text']}}">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="2">
          <mat-form-field class="field_width" >
            <textarea matInput formControlName="notes" class="textarea_height" i18n-placeholder placeholder="Notes" value="{{data.notes['#cdata']}}" ></textarea>
          </mat-form-field>
        </mat-grid-tile>
        <!--Group chip list-->
        <mat-grid-tile colspan="2" rowspan="1" class="field_width">
          <mat-form-field class="field_width">
            <mat-select formControlName="_groups" [(value)]="data['_groups']"  i18n-placeholder placeholder="Group" multiple="true">
              <mat-option *ngFor="let g of _variable_groups" [value]="g.varGrp['@ID']" >
                {{ g.varGrp.labl}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="1" rowspan="1">
          <mat-form-field>
            <mat-select formControlName="wgt_var" [(value)]="data['@wgt-var']" i18n-placeholder placeholder="Weight Variable">
              <mat-option *ngFor="let w of weights" [value]="w">
                {{ w }}
              </mat-option>
              <mat-option i18n>Unweighted</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <section class="example-section">
            <mat-checkbox formControlName="wgt" align="end" checked="{{data['@wgt']}}" i18n>Is Weight</mat-checkbox>
          </section>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <button mat-button type="submit" i18n>Update</button>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <button mat-button type="button" (click)="dialogRef.close()" i18n>Cancel</button>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-dialog-content>
  </form>
</div>
